.button {
  font-family: inherit;
  font-size: @FONT-SIZE-BASE;
  line-height: 22px;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
  display: block;
  font-weight: 300;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  text-decoration: none;

  &_primary {
    background-color: @BLUE-DARK;
    color: @WHITE;
    border: none;
    padding: 11px 28px 13px;

    &:hover,
    &_hover {
      background-color: @BLUE-LIGHT;
    }

    &:active,
    &_active {
      background-color: @BLUE;
    }

    &:disabled,
    &:disabled:hover,
    &_disabled,
    &_disabled:hover {
      cursor: default;
      color: @WHITE;
      background-color: @GRAY-LIGHT;
    }
  }

  &_secondary {
    background-color: transparent;
    color: @BLUE;
    border: 1px solid @GRAY;
    padding: 9px 27px 11px;

    &:hover,
    &_hover {
      background-color: @BLUE-DARK;
      border-color: transparent;
      color: @WHITE;
    }

    &:active,
    &_active {
      background-color: @BLUE;
      color: @WHITE;
    }

    &:disabled,
    &:disabled:hover,
    &_disabled,
    &_disabled:hover {
      cursor: default;
      color: @GRAY;
      border-color: @GRAY;
      background-color: transparent;
    }
  }

  &_light {
    color: @WHITE;
    border-color: rgba(255, 255, 255, 0.5);

    &:hover {
      border-color: @WHITE;
    }
  }

  &_borderless {
    .link-mixin();
    border: none;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  &_mobile-code {
    margin: auto;
  }

  &_mobile-code-again {
    width: 255px;
    margin: auto;
    color: @GRAY-DARK;

    &:hover {
      color: @BLACK;
    }
  }

  &_promo-code-continue {
    margin: auto;
  }

  &_no-promo-code {
    margin: 9px auto 0;
  }

  &_request {
    width: 210px;
    margin: auto;
  }

  &_request-action {
    margin-top: 50px;
    display: inline-block;
  }

  &_remain {
    margin-top: 50px;
  }

  &_to-next-mobile {
    margin: 50px auto 0;
  }

  &_sign-up-continue {
    margin: 25px auto 0;
  }

  &_sign-up-step4 {
    margin: 51px auto 0;
  }

  &_sign-up-address {
    margin: 25px auto 0;
  }

  &_conditions {
    margin: 50px auto 0;
    min-width: 161px;
  }

  &_copy-code {
    @media (max-width: @BREAK-POINT) {
      width: 100%;

      span:after {
        content: '...';
      }
    }
  }

  &_pay-package {
    width: 200px;
    margin: 50px auto 0;
  }

  &_pay {
    margin: 40px 0 0;
  }

  &_pay-change {
    margin: 24px 0 0;
  }

  &_operations-list {
    max-width: none;
    width: 100%;
    margin-top: 60px;
  }

  &_expense {
    margin: 28px 0 0;
  }

  &_detail {
    margin: 40px 0 0;

    @media (max-width: @BREAK-POINT) {
      width: 100%;
    }
  }

  &_roaming-add {
    margin-top: 10px;

    @media (max-width: @BREAK-POINT) {
      width: 100%;
    }
  }

  &_roaming-add-empty {
    margin-top: 40px;
  }

  &_tariff-change {
    min-width: auto;
    color: @GRAY-DARK;
    position: relative;
    z-index: 1;
  }

  &_invites {
    .link-mixin();
    padding: 0;
    margin-left: auto;
    border: none;

    &:hover {
      background-color: transparent;
    }

    @media (max-width: @BREAK-POINT) {
      span:after {
        content: '...';
      }
    }
  }

  &_code-mode {
    padding: 0;
    display: inline-block;
    min-width: auto;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    background-image: linear-gradient(to right, @WHITE 50%, transparent 50%);
    background-size: 6px 1px;
    background-repeat: repeat-x;
    background-position: 50% calc(50% + 0.5em);

    &:hover,
    &:focus {
      background-color: transparent;
      background-image: none;
    }
  }

  &_confirm {
    max-width: 200px;
    margin: 40px auto 0;
    min-width: 200px;
  }

  &_data {
    display: inline-block;
    margin: 0 10px 10px 0;
  }

  &_tariff-home {
    margin: -15px auto 0;
  }

  &_tariff-table {
    min-width: 119px;
    margin-top: 10px;
  }

  &_club {
    display: inline-block;
  }

  &_notice-action {
    margin-top: 17px;
  }

  &_result {
    margin-top: 20px;
    text-decoration: none;
  }

  &_tariffs {
    width: calc(100% + 2px);
    margin: 0 -1px -1px;
  }

  &_more {
    display: inline-block;
  }
}
