.header {
  display: flex;
  padding: 0 15px;
  position: relative;
  max-width: 1200px;
  margin: auto;
  align-items: flex-start;
  height: 110px;

  @media (max-width: @BREAK-POINT) {
    display: none;
  }

  &__back {
    position: absolute;
    bottom: -20px;
    left: 68px;
    z-index: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }

  &__left {
    flex: 1 1 25%;
  }

  &__logo {
    width: 121px;
    height: 75px;
    background: url("/media/images/logo-mini-dark.png") no-repeat 50% 50%;
    position: relative;

    &_light {
      background-image: url("/media/images/logo-mini-light.png");
    }
  }

  &__home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__center {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 25%;
    align-self: center;
  }

  &__item {
    .link-nav;
    line-height: @FONT-SIZE-BASE;
    font-size: @FONT-SIZE-SMALL;

    &_light {
      .link-nav-light;
    }
  }

  &__span {
    .nav-point;

    &_light:before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}
