.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 80px;
  background-color: @BLUE-MAIN;

  &__back {
    position: absolute;
    bottom: -60px;
    left: 30px;
    z-index: 1;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__left {
    flex: 1 1 25%;
  }

  &__logo {
    width: 308px;
    height: 80px;
    background: url("/media/images/logo-header.svg") no-repeat 30px 50%;
    background-size: calc(100% - 30px) auto;
    position: relative;
  }

  &__home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__center {
    flex: 1 1 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 25%;
  }

  &__item {
    padding: 0 15px;
  }

  &__link {
    .link-nav;
    line-height: @FONT-SIZE-BASE;
    font-size: @FONT-SIZE-SMALL;
  }

  &__go {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 80px;
    padding: 0 35px;
    margin-left: 20px;
    text-decoration: none;
    color: @WHITE;
    background-color: @ORANGE;
    font-size: 21px;
  }

  @media (max-width: @BREAK-POINT) {
    display: none;
  }

  @media (max-width: 1050px) {
    &__item {
      padding: 0 8px;
    }
  }

  @media (max-width: 1060px) {
    &__left {
      flex: 0 0 auto;
    }

    &__center {
      flex: 0 1 auto;
    }

    &__right {
      flex: 0 0 auto;
    }

    &__logo {
      max-width: 240px;
      background-position: 20px 50%;
    }
  }
}
