.input {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  position: relative;
  padding: 1.1em 0 1.4em;
  text-align: left;

  &_middle &__value {
    font-size: @FONT-SIZE-H2;
  }

  &_big &__value {
    font-size: @FONT-SIZE-H1;
  }

  &_phone {
    width: 208px;
    margin: auto;
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
  }

  &_phone-sign-in {
    padding-top: 9px;
  }

  &_sign-up-house,
  &_sign-up-flat {
    width: 90px;
  }

  &_sign-up-housing {
    width: 155px;
  }

  &_chat {
    margin: 0 20px;
    flex: 1 1 auto;

    ::placeholder {
      color: @GRAY-DARK;
    }
  }

  &_balance {
    padding: 0;
    margin-right: 12px;
    max-width: 205px;
  }

  &_balance &__value {
    .big;
    padding: 0 0 4px;
  }

  &_payment &__value {
    padding-bottom: 0;
    text-align: center;
  }

  &_settings-email {
    font-size: @FONT-SIZE-H2;
    margin-bottom: 35px;

    @media (max-width: @BREAK-POINT) {
      font-size: @FONT-SIZE-BASE;
      margin-bottom: 4px;
    }
  }

  &_settings-expense {
    max-width: 140px;
    font-size: @FONT-SIZE-H2;
    padding: 6px 0;
  }

  &_auto-pay {
    max-width: 70px;
    padding: 0;
    text-align: right;
  }

  &_pay {
    font-size: 60px;
    max-width: 325px;
    font-weight: 100;
    padding: 0;
  }

  &_pay &__value {
    line-height: 60px;
    padding: 0;
  }

  &_pay &__clear {

  }

  &_operations-date {
    padding: 0;
    max-width: 170px;
    position: static;
  }

  &_operations-date &__value {
    color: @GRAY-DARK;
  }

  &_operations-date .calendar {
    max-width: none;
    margin-top: -1px;
  }

  &_operations-date-list {
    position: static;
    flex: 1 1 auto;
  }

  &_operations-date-list &__value {
    color: @GRAY-DARK;
    min-width: auto;
  }

  &_operations-date-list .calendar {
    max-width: none;
  }

  &_detail {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
    flex: 1 1 auto;

    @media (max-width: @BREAK-POINT) {
      font-size: 15px;
    }
  }

  &_detail &__value {
    color: @GRAY-DARK;
    min-width: auto;
  }

  &_detail .calendar {
    margin-top: -1px;
  }

  &_detain-email {
    margin-top: 25px;
  }

  &__inner {
    position: relative;
  }

  &__value {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    font-weight: inherit;
    padding: 0.33em 0;
    width: 100%;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 1;

    &:disabled {
      color: @GRAY-DARK;
    }

    &_light {
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    &_multiline {
      resize: none;
      overflow: hidden;
      box-sizing: border-box;
    }

    &_date {
      min-width: 170px;
      cursor: pointer;
      user-select: none;
    }
  }

  &__placeholder {
    .text-ellipsis;
    color: @GRAY-DARK;
    position: absolute;
    padding: 6px 0;
    top: 1.33em;
    right: 0;
    left: 0;
    transform-origin: 0 0;
    transition: transform 0.3s;
  }

  &__value:focus + &__placeholder,
  &__placeholder_filled {
    transform: translateY(-1.4em) scale(0.83);
  }

  &__error {
    .text-ellipsis;
    .gradient-red-purple;
    font-size: @FONT-SIZE-SMALL;
    line-height: @LINE-HEIGHT-SMALL;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__indicator {
    height: 1px;
    background-color: @GRAY;

    &_light {
      background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    }

    &_error {
      background-color: transparent;
      background-image: linear-gradient(#f97a7c, #f97ad2);
    }

    &_hide {
      opacity: 0;
    }
  }

  &__value:focus ~ &__indicator,
  &_active &__indicator {
    background-color: @BLACK;
  }

  &__value:focus ~ &__indicator_light,
  &_active &__indicator_light {
    background-color: @WHITE;
  }

  &__icon {
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    z-index: 1;
    cursor: pointer;

    &_clear {
      background-image: url("/media/icons/x.svg");
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.5;
      }
    }

    &_calendar {
      background-image: url("/media/icons/calendar.svg");
    }
  }
}
