.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 1001;

  @media (max-width: @BREAK-POINT) {
    display: block;
  }

  &__close {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("/media/icons/x-menu.svg") no-repeat 50% 50%;
    background-size: 20px auto;
    z-index: 1;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("/media/icons/menu-white.svg") no-repeat 50% 50%;
    background-size: 20px auto;

    &_mask {
      mask-image: radial-gradient(closest-side, #000, #000, transparent);
      background-color: transparent;
    }

    &_dark {
      background-image: url("/media/icons/menu-black.svg");
      background-color: @WHITE;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    background-color: @BLUE-MAIN;
    overflow: hidden;
    transition: transform 0.5s;
    width: 260px;

    &_open {
      transform: translateX(100vw);
    }
  }

  &__list-inner {
    padding: 80px 17px 17px;
    position: absolute;
    top: 0;
    right: -20px;
    bottom: 0;
    width: 280px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__phone {
    position: absolute;
    top: 18px;
    left: 50px;
    white-space: nowrap;
  }

  &__link {
    display: block;
    align-items: center;
    text-decoration: none;
    color: @WHITE-TRANSPARENT;
    padding: 12px 0 12px 35px;
    position: relative;
    text-align: left;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 20px;
    }

    svg {
      position: absolute;
      top: -2px;
      bottom: 0;
      margin: auto;
      height: 21px;
      width: auto;
      fill: @WHITE-TRANSPARENT;
    }

    &_overview svg {
      width: 17px;
      height: 21px;
      left: 5px;
    }

    &_services svg {
      width: 17px;
      height: 20px;
      left: 5px;
    }

    &_pay svg {
      width: 21px;
      height: 21px;
      left: 3px;
    }

    &_roaming svg {
      width: 20px;
      height: 20px;
      left: 3px;
    }

    &_history svg {
      width: 18px;
      height: 16px;
      left: 5px;
    }

    &_support svg {
      width: 22px;
      height: 21px;
      left: 4px;
    }

    &_settings svg {
      height: 17px;
      left: 2px;
    }

    &_faq svg {
      width: 14px;
      height: 22px;
      left: 2px;
    }

    &_exit svg {
      width: 16px;
      height: 21px;
      left: 3px;
    }

    &_enter svg {
      width: 16px;
      height: 21px;
      left: 3px;
    }

    &_reg svg {
      width: 17px;
      height: 21px;
      left: 3px;
    }

    &_status svg {
      width: 17px;
      height: 22px;
      left: 5px;
    }

    &.active {
      color: @WHITE;

      svg {
        fill: @WHITE;
      }
    }
  }

  &__drawer {
    position: fixed;
    top: 0;
    right: 100vw;
    left: -100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1001;
    transition: transform 0.5s;
    width: 100vw;

    &_show {
      transform: translateX(100vw);
    }
  }
}
