.tariffs {
  margin: 0 -60px 46px;
  overflow: hidden;

  &_tariffs {
    max-width: 870px;
    margin: 0 auto 25px;
  }

  &_tariffs &__inner {
    max-width: none;
  }

  &_tariffs &__wrapper {
    width: auto;
    max-width: none;
  }

  &_tariffs &__item {
    min-width: 260px;
  }

  &_tariffs &__traffic {
    font-size: 72px;
    line-height: 72px;
    font-weight: 300;
    color: rgba(33, 31, 94, 0.86);
  }

  &__inner {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 0 -20px;
    padding: 0 24px 20px;
    max-width: calc(66.66vw - 22px);
  }

  &__wrapper {
    min-width: 630px;
    width: 630px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 16px 0 0;
    user-select: none;
    cursor: pointer;

    &:hover {
      border-color: rgba(33, 31, 94, 0.2);
    }

    &_current {
      cursor: default;

      &:hover {
        border-color: transparent;
        border-image: none;
      }
    }

    &_focus {
      border-color: rgba(33, 31, 94, 0.86);
      cursor: default;
    }

    &_focus:hover {
      border-color: rgba(33, 31, 94, 0.86);
    }

    &_unselectable {
      border: transparent;
      cursor: default;
    }
  }

  &__item-inner {
    padding: 0 36px;
  }

  &__name {
    font-size: 26px;
    line-height: 31px;
  }

  &__current {
    font-size: 11px;
    line-height: 21px;
    margin-bottom: 10px;
    font-weight: 400;
    min-height: 21px;
    color: @ORANGE;
  }

  &__traffic {
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 4px;
    font-weight: 100;
  }

  &__over {
    margin: 13px 0 11px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;

    &:before {
      content: '';
      display: block;
      height: 12px;
    }

    &:after {
      content: '';
      display: block;
      height: 11px;
    }

    &_show {
      max-height: 125px;
    }
  }

  &__over-title {
    line-height: 20px;
    color: @GRAY-DARK;
    margin-bottom: 5px;
  }

  &__pay {
    margin: 0 0 25px;
  }

  @media (max-width: @BREAK-POINT) {
    margin: 0 -15px 46px;

    &__inner {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding: 0 0 20px;
      width: auto;
    }
  }
}
