@FONT-PATH: "/media/fonts/Roboto";

@FONT-SIZE-H1: 70px;
@FONT-SIZE-H1-MOBILE: 45PX;
@FONT-SIZE-H2: 26px;
@FONT-SIZE-BIG: 40px;
@FONT-SIZE-BASE: 18px;
@FONT-SIZE-SMALL: 15px;

@LINE-HEIGHT-H1: 83px;
@LINE-HEIGHT-H1-MOBILE: 52px;
@LINE-HEIGHT-H2: 35px;
@LINE-HEIGHT-BIG: 47px;
@LINE-HEIGHT-BASE: 25px;
@LINE-HEIGHT-SMALL: 20px;


@BLACK: #000000;
@GRAY-DARK: rgba(0, 0, 0, 0.5);
@GRAY: rgba(0, 0, 0, 0.2);
@GRAY-LIGHT: rgba(0, 0, 0, 0.07);
@WHITE: #fff;


@BREAK-POINT: 767px;
@MAX-WIDTH: 1000px;
