@FONT-PATH: "/media/fonts/Roboto";

@FONT-SIZE-H1: 48px;
@FONT-SIZE-H1-MOBILE: 36px;
@FONT-SIZE-H2: 26px;
@FONT-SIZE-BASE: 18px;
@FONT-SIZE-SMALL: 15px;

@LINE-HEIGHT-H1: 52px;
@LINE-HEIGHT-H1-MOBILE: 42px;
@LINE-HEIGHT-H2: 35px;
@LINE-HEIGHT-BASE: 25px;
@LINE-HEIGHT-SMALL: 20px;


@ORANGE: #ff5500;
@WHITE: #fff;
@WHITE-TRANSPARENT: rgba(255, 255, 255, 0.5);
@BLUE-LIGHT: #272483;
@BLUE: #1f1c77;
@BLUE-DARK: #211f5e;
@BLUE-MAIN: #151443;

@BLACK: #000000;
@GRAY-LIGHT: rgba(149, 155, 173, 0.4);
@GRAY: #798199;
@GRAY-DARK: rgba(108, 114, 132, 0.6);
@WHITE: #fff;


@BREAK-POINT: 767px;
@MAX-WIDTH: 1000px;
