*,
:before,
:after {
  box-sizing: border-box;
}

::placeholder {
  opacity: 1;
  color: @GRAY-DARK;
}

::-ms-clear {
  display: none;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background-image: radial-gradient(#fbfbfc, #e2e2ec);
}

input,
textarea,
button,
a {
  outline: none;
}

input,
button {
  margin: 0;
}

form {
  display: block;
}

h1,
.h1 {
  font-size: @FONT-SIZE-H1;
  line-height: @LINE-HEIGHT-H1;
  font-weight: 100;
}

h2,
.h2 {
  font-size: @FONT-SIZE-H2;
  line-height: @LINE-HEIGHT-H2;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.76);
}

.big {
  font-size: @FONT-SIZE-BIG;
  line-height: @LINE-HEIGHT-BIG;
  font-weight: 100;
}

.base {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

.small {
  font-size: @FONT-SIZE-SMALL;
  line-height: @LINE-HEIGHT-SMALL;
  font-weight: 300;
}

.link {
  color: @BLACK;
  background: linear-gradient(to right, @GRAY, @GRAY) 0 93% repeat-x;
  background-size: 100% 1px;
  text-decoration: none;

  &:hover {
    background-image: linear-gradient(to right, @BLACK, @BLACK);
  }
}

.link-light {
  color: @GRAY-DARK;
  background: linear-gradient(to right, @GRAY, @GRAY) 0 93% repeat-x;
  background-size: 100% 1px;
  text-decoration: none;
  line-height: inherit;

  &:hover {
    color: @BLACK;
    background-image: linear-gradient(to right, @BLACK, @BLACK);
  }
}

.link-nav {
  color: @GRAY-DARK;
  text-decoration: none;
  background: linear-gradient(to right, @GRAY, @GRAY) no-repeat 0 calc(50% + 0.5em);
  background-size: 100% 1px;
  transition: color 0.2s ease-in;

  &:hover {
    color: @BLACK;
    background: linear-gradient(to right, @BLACK, @BLACK) no-repeat 0 calc(50% + 0.5em);
    background-size: 100% 1px;
  }

  &.active {
    background: none;
    color: @BLACK;
    cursor: default;
  }
}

.link-nav-light {
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)) no-repeat 0 calc(50% + 0.5em);
  background-size: 100% 0.5px;

  &:hover {
    color: @WHITE;
    background: linear-gradient(to right, @WHITE, @WHITE) no-repeat 0 calc(50% + 0.5em);
    background-size: 100% 0.5px;
  }

  &.active {
    background: none;
    color: @WHITE;
    cursor: default;
  }
}

.link-dashed {
  .dashed;
  color: @GRAY-DARK;

  &:hover {
    color: @BLACK;
  }
}

.link-overview {
  color: rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, @GRAY, @GRAY) 0 calc(50% + 0.43em) repeat-x;
  background-size: 100% 1px;
  text-decoration: none;

  &:hover {
    background-image: linear-gradient(to right, @BLACK, @BLACK);
    color: @BLACK;
  }
}

.list {
  padding-left: 0;
  list-style-type: none;

  & > li {
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: @GRAY-DARK;
      margin-bottom: 0.2em;
      margin-right: 0.3em;
      margin-left: calc(-0.3em - 4px);
    }
  }
}

.nobr {
  white-space: nowrap;
}

.status {
  .h2;
  position: relative;
  padding: 30px 0;
  font-weight: 300;

  &_ok span {
    background-image: linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;

    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-image: none;
      color: #003FDD;
    }
  }

  &_error span{
    background-image: linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: inline-block;

    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-image: none;
      color: #FD7C7E;
    }
  }

  span {
    position: relative;
    z-index: 2;
  }
}
