*,
:before,
:after {
  box-sizing: border-box;
}

::placeholder {
  opacity: 1;
  color: @GRAY-DARK;
}

::-ms-clear {
  display: none;
}

html {
  min-height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: @WHITE;
  background-size: 100% 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: @BLUE-MAIN;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}

input,
textarea,
button,
a {
  outline: none;
}

input,
button {
  margin: 0;
}

form {
  display: block;
}

h1,
.h1 {
  font-size: @FONT-SIZE-H1;
  line-height: @LINE-HEIGHT-H1;
  font-weight: 300;
  color: @BLUE-DARK;
  opacity: 0.86;
  margin-bottom: 0.5em;
}

h2,
.h2 {
  font-size: @FONT-SIZE-H2;
  line-height: @LINE-HEIGHT-H2;
  color: @BLUE-DARK;
  opacity: 0.86;
  margin-bottom: 0.5em;
}

.base {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
  color: @BLUE;
}

.small {
  font-size: @FONT-SIZE-SMALL;
  line-height: @LINE-HEIGHT-SMALL;
  font-weight: 300;
  color: @GRAY;
}

.link-mixin(@color: inherit, @dash1: @GRAY-LIGHT, @dash2: @GRAY-LIGHT, @hover: @ORANGE) {
  color: @color;
  background: linear-gradient(to right, @dash1 50%, @dash2 50%) 0 calc(50% + 0.5em) repeat-x;
  background-size: 6px 1px;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    background-image: none;
    color: @hover;
  }
}

.link {
  .link-mixin();
}

.link-nav {
  .link-mixin(@WHITE-TRANSPARENT, @WHITE-TRANSPARENT, @WHITE-TRANSPARENT, @WHITE);

  &.active {
    color: @WHITE;
    cursor: default;
  }
}

.link-nav-light {
  color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)) no-repeat 0 calc(50% + 0.5em);
  background-size: 100% 0.5px;

  &:hover {
    color: @WHITE;
    background: linear-gradient(to right, @WHITE, @WHITE) no-repeat 0 calc(50% + 0.5em);
    background-size: 100% 0.5px;
  }

  &.active {
    background: none;
    color: @WHITE;
    cursor: default;
  }
}

.link-dashed {
  .dashed;
  color: @GRAY-DARK;

  &:hover {
    color: @BLACK;
  }
}

.list {
  padding-left: 0;
  list-style-type: none;

  & > li {
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: @ORANGE;
      margin-bottom: 0.2em;
      margin-right: 0.3em;
      margin-left: calc(-0.3em - 4px);
    }
  }
}

.nobr {
  white-space: nowrap;
}
