.link-mixin(@color: inherit, @dash1: @GRAY-LIGHT, @dash2: @GRAY-LIGHT, @hover: @ORANGE) {
  color: @color;
  background: linear-gradient(to right, @dash1 50%, @dash2 50%) 0 calc(50% + 0.5em) repeat-x;
  background-size: 6px 1px;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    background-image: none;
    color: @hover;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-point {
  width: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: auto;
    background-color: @GRAY-DARK;
  }
}

.shadow {
  box-shadow: 0 3px 35px rgba(121, 129, 153, 0.26);
}

.dashed {
  text-decoration: none;
  background-image: linear-gradient(to right, @GRAY 66%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  background-position: 0 calc(50% + 0.5em);
  background-size: 5px 1px;

  &:hover {
    background-image: linear-gradient(to right, @BLACK 66%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
  }
}
