.dashboard {
  display: flex;
  min-height: 100vh;
  margin: auto;

  & > .transitions {
    flex: 1 1 70%;
  }

  &__content {
    flex: 1 1 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #eaeaf1 radial-gradient(#fbfbfc, #e2e2ec) fixed;
    padding: 24px 24px 10px;

    &_white {
      padding: 50px 84px 100px;
      background: @WHITE;
    }

    &_roaming {
      padding-top: 0;
    }

    &_faq {
      padding-bottom: 75px;
    }
  }

  &__header {
    .h1;

    &_center {
      text-align: center;
    }

    &_more {

      margin-top: 60px;

      @media (max-width: @BREAK-POINT) {
        margin-top: 20px;
      }
    }

    &_confirm {
      margin-top: 170px;
      text-align: center;

      @media (max-width: @BREAK-POINT) {
        margin-top: 20px;
      }
    }
  }

  &__header-sub {
    font-size: 15px;
    line-height: @LINE-HEIGHT-BASE;
    font-weight: 300;
    margin-bottom: 12px;
    color: @GRAY-DARK;
  }

  &__text {
    color: @GRAY-DARK;
    margin-bottom: 25px;
    max-width: 600px;
  }

  @media (max-width: @BREAK-POINT) {
    display: block;
    padding: 0;

    &__content {
      padding: 75px 10px 10px;
    }

    &__content_white {
      padding: 75px 20px 100px;
    }

    &__content_roaming {
      padding-top: 0;
    }
  }
}

.welcome {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #edeff4, transparent);
  background-position: 50% 50%;
  background-size: 100% 100%;

  &:before {
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 1000%;
    height: 1000%;
    background-color: @WHITE;
    transform-origin: 0 0;
    transform: rotate(-60deg);
  }

  &__content {
    padding: 0 15px 100px;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  &__header {
    .h1;
    text-align: center;
    padding-top: 152px;
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    text-align: center;
    display: none;
    justify-content: center;
  }

  @media (max-width: @BREAK-POINT) {
    &:before {
      top: 0;
    }

    &__content {
      min-height: 100vh;
    }

    &__footer {
      display: flex;
    }
  }
}

.block {
  background-color: @WHITE;
  margin-bottom: 10px;
  padding: 50px 60px 55px;

  @media (max-width: @BREAK-POINT) {
    padding: 20px;
  }

  &_round {
    border-radius: 10px;
  }

  &__header {
    .h2;
    color: @GRAY;
    letter-spacing: 1.5px;
    margin-bottom: 23px;
    text-transform: uppercase;
  }
}
