@FONT-PATH: "/media/fonts/Roboto";

@FONT-SIZE-H1: 40px;
@FONT-SIZE-H2: 26px;
@FONT-SIZE-BASE: 18px;
@FONT-SIZE-SMALL: 15px;

@LINE-HEIGHT-H1: 47px;
@LINE-HEIGHT-H2: 35px;
@LINE-HEIGHT-BASE: 25px;
@LINE-HEIGHT-SMALL: 20px;


@BLACK: #000000;
@GRAY-DARK: rgba(0, 0, 0, 0.5);
@GRAY: rgba(0, 0, 0, 0.2);
@GRAY-LIGHT: rgba(0, 0, 0, 0.07);


@BREAK-POINT: 767px;
@MAX-WIDTH: 1200px;
