body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

#root {
  background-image: radial-gradient(53% 18%, #ffffff 46%, rgba(255,255,255,0.00) 91%);
}

h1,
.h1 {
  font-size: @FONT-SIZE-H1;
  line-height: @LINE-HEIGHT-H1;
  font-weight: 100;
}

h2,
.h2 {
  font-size: @FONT-SIZE-H2;
  line-height: @LINE-HEIGHT-H2;
  font-weight: 100;
}

.base {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

.small {
  font-size: @FONT-SIZE-SMALL;
  line-height: @LINE-HEIGHT-SMALL;
  font-weight: 300;
}
