*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

#root {
  min-height: 100vh;
  background-image: radial-gradient(#fbfbfc, #e2e2ec);
}

input,
button,
a {
  outline: none;
}

input,
button {
  margin: 0;
}

h1,
.h1 {
  font-size: @FONT-SIZE-H1;
  line-height: @LINE-HEIGHT-H1;
  font-weight: 100;
}

h2,
.h2 {
  font-size: @FONT-SIZE-H2;
  line-height: @LINE-HEIGHT-H2;
  font-weight: 100;
}

.base {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

.small {
  font-size: @FONT-SIZE-SMALL;
  line-height: @LINE-HEIGHT-SMALL;
  font-weight: 300;
}

.link {
  color: @BLACK;
  text-decoration-color: @GRAY;

  &:hover {
    text-decoration-color: @BLACK;
  }
}

.link-light {
  color: @GRAY-DARK;
  text-decoration-color: @GRAY-DARK;

  &:hover {
    text-decoration-color: @BLACK;
    color: @BLACK;
  }
}

.link-nav {
  color: @GRAY-DARK;
  text-decoration: none;
  border-bottom: 1px solid @GRAY-DARK;

  &:hover {
    border-bottom-color: @BLACK;
  }

  &.active {
    border-bottom-color: transparent;
    color: @BLACK;
    cursor: default;
  }
}
