*,
:before,
:after {
  box-sizing: border-box;
}

::placeholder {
  opacity: 1;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

#root {
  min-height: 100vh;
  background-image: radial-gradient(#fbfbfc, #e2e2ec);
  //transition: opacity 0.1s linear;
  //opacity: 0;
}

input,
button,
a {
  outline: none;
}

input,
button {
  margin: 0;
}

h1,
.h1 {
  font-size: @FONT-SIZE-H1;
  line-height: @LINE-HEIGHT-H1;
  font-weight: 100;
}

h2,
.h2 {
  font-size: @FONT-SIZE-H2;
  line-height: @LINE-HEIGHT-H2;
  font-weight: 100;
}

.base {
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  font-weight: 300;
}

.small {
  font-size: @FONT-SIZE-SMALL;
  line-height: @LINE-HEIGHT-SMALL;
  font-weight: 300;
}

.link {
  color: @BLACK;
  text-decoration-color: @GRAY;

  &:hover {
    text-decoration-color: @BLACK;
  }
}

.link-light {
  color: @GRAY-DARK;
  text-decoration-color: @GRAY-DARK;

  &:hover {
    text-decoration-color: @BLACK;
    color: @BLACK;
  }
}

.link-nav {
  color: @GRAY-DARK;
  text-decoration: none;
  border-bottom: 1px solid @GRAY;

  &:hover {
    border-bottom-color: @BLACK;
  }

  &.active {
    border-bottom-color: transparent;
    color: @BLACK;
    cursor: default;
  }
}

.link-dashed {
  color: @GRAY-DARK;
  border-bottom: 1px dashed @GRAY-DARK;
  display: inline-block;
  line-height: 1;
  user-select: none;
  text-decoration: none;

  &:hover {
    color: @BLACK;
    border-bottom-color: @BLACK;
  }
}

.list {
  padding-left: 0;
  list-style-type: none;

  & > li {
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: @GRAY-DARK;
      margin-bottom: 0.3em;
      margin-right: 0.3em;
      margin-left: calc(-0.3em - 4px);
    }
  }
}

.status {
  .h2;
  position: relative;
  padding: 30px 0;
  font-weight: 300;

  &_ok span {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAzRkREOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMwMDAwMDA7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    background-image: -webkit-linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    background-image: -o-linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    background-image: -ms-linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    background-image: linear-gradient(-90deg,#003FDD 0%,#000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    display:inline-block; /*required*/
  }

  &_error span{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRkQ3QzdFOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMwMDAwMDA7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
    background-image: -moz-linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    background-image: -webkit-linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    background-image: -o-linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    background-image: -ms-linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    background-image: linear-gradient(-90deg,#FD7C7E 0%,#000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:relative;
    display:inline-block; /*required*/
  }

  &:after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: -60px;
  }

  &_ok:after {
    width: 260px;
    height: 184px;
    background-image: url("/media/images/blur-ok.png");
    margin-left: -150px;
  }

  &_error:after {
    width: 241px;
    height: 161px;
    background-image: url("/media/images/blur-error.png");
    margin-left: -100px;
  }

  span {
    position: relative;
    z-index: 2;
  }
}
