.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-point {
  width: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin: auto;
    background-color: @GRAY-DARK;
  }
}

.row-hover {
  &:hover {
    box-shadow: 0 5px 5px -5px @GRAY, 0 -5px 5px -5px @GRAY;
  }
}

.gradient-orange {
  background-image: linear-gradient(90deg,#FE4000 0%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-red {
  background-image: linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
}

.gradient-green {
  background-image: linear-gradient(90deg,#00863A 0%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
}

.gradient-blue {
  background-image: linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
}

.gradient-purple {
  background-image: linear-gradient(top,#A012FF 0%,#3B113B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
}

.shadow {
  box-shadow: 0 0 10px @GRAY;
}
