.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.enter-module {
  min-height: 100vh;
  background-image: radial-gradient(#fbfbfc, #e2e2ec);
}

.enter-module-content {
  padding: 0 15px 100px;
  max-width: 450px;
  margin: auto;
}
