.dashboard {
  display: flex;
  max-width: @MAX-WIDTH;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;

  @media (max-width: @BREAK-POINT) {
    display: block;
  }

  & > .transitions {
    flex: 1 1 65%;
  }

  &__content {
    padding: 100px 15px;
    flex: 1 1 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &_support {
      padding: 15px;

      @media (max-width: @BREAK-POINT) {
        padding: 0 15px;
      }
    }

    &_pay {
      justify-content: flex-start;
    }

    &_roaming {
      padding-top: 0;
    }

    @media (max-width: @BREAK-POINT) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__header {
    .h1;

    &_center {
      text-align: center;
    }

    &_more {
      margin-top: 60px;
      font-size: 35px;
    }

    &_confirm {
      margin-top: 170px;
      text-align: center;
    }
  }

  &__text {
    color: @GRAY-DARK;
    margin-bottom: 25px;
    max-width: 600px;
  }
}

.welcome {
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
    padding: 0 15px 100px;
    max-width: 600px;
    margin: auto;
  }

  &__footer {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    text-align: center;
    display: none;
    justify-content: center;

    @media (max-width: @BREAK-POINT) {
      display: flex;
    }
  }
}
