.club {
  color: #fff;
  max-width: 537px;
  margin-bottom: 242px;

  &__header {
    font-size: 60px;
    line-height: 70px;
    font-weight: 100;
    margin-bottom: 27px;
  }

  &__text {
    font-weight: 100;
    margin-bottom: 35px;
  }
}
