.club {
  color: #fff;
  padding: 170px 0 242px;
  background: url("/media/images/card.png") 100% 50% no-repeat;

  @media (min-width: 1000px) {
    margin-right: calc((100vw - 1000px) / -2);
    margin-left: calc((100vw - 1000px) / -2);
  }

  &__inner {
    max-width: 1000px;
    margin: auto;
  }

  &__header {
    font-size: 60px;
    line-height: 70px;
    font-weight: 100;
    margin-bottom: 27px;
    max-width: 537px;
  }

  &__text {
    font-weight: 100;
    margin-bottom: 35px;
    max-width: 537px;
  }
}
