.earth-tariff {
  color: @WHITE;
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 130px;

  &_tariff {
    color: inherit;
    display: block;
    padding: 25px 0 20px;
    margin-bottom: 70px;
  }

  &__header {
    .page-title;
    max-width: 600px;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 528px;
    margin: 0 0 32px;
  }

  &_tariff &__numbers {
    margin-top: 47px;
  }

  &__row {
    margin-bottom: 25px;
  }

  &__cell {
    font-weight: 100;

    &_big {
      font-size: 40px;
      line-height: 46px;
    }
  }

  @media (max-width: @BREAK-POINT) {
    display: block;
    max-width: 600px;
    margin: auto;

    &__header {
      text-align: center;
    }

    &__text {
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
      margin: 0 auto 32px;
    }

    &__numbers {
      margin-top: 18px;
    }

    &__cell {
      font-weight: 300;

      &_small {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
        line-height: 21px;
      }

      &_big {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}
