.intro {
  color: @WHITE;
  max-width: 710px;
  margin-bottom: 192px;
  margin-top: 55px;

  &__text {
    font-size: 70px;
    line-height: 80px;
    font-weight: 100;
    margin-bottom: 44px;
  }

  &__note {
    margin-bottom: 44px;
  }
}
