.auto-pay {
  max-width: 400px;

  &__card {

  }

  &__title {
    .h2;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__section {
    margin: 35px 0 60px;
  }

  &__block {
    max-height: 0;
    transition: max-height 0.2s;
    overflow: hidden;

    &_show {
      max-height: 500px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
  }

  &__cell {
    max-width: 215px;
  }

  &__note {
    .small;
    color: @GRAY-DARK;
  }
}
