.conditions {
  .enter-module;
  text-align: center;

  &__content {
    .enter-module-content;
  }

  &__desc {
    color: @GRAY-DARK;
    margin-top: 40px;
  }

  &__note {
    .small;
    margin-top: 16px;
    color: @GRAY-DARK;
  }
}
