.detail {
  max-width: 400px;

  &__period-title {
    .small;
    color: @GRAY-DARK;
    margin-top: 30px;
  }

  &__period {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__error {
    .gradient-red;
    font-size: @FONT-SIZE-SMALL;
    line-height: @LINE-HEIGHT-SMALL;
    margin-top: 2px;
  }

  &__divider {
    height: 1px;
    width: 15px;
    margin: 0 10px 0;
    background-color: @GRAY;
  }
}
