.pay {
  max-width: 504px;
  text-align: center;
  position: relative;

  &__inner {
    &_fade {
      opacity: 0.2;
      filter: blur(1px);
    }
  }

  &__auto-pay-from {
    margin-top: 20px;
  }
}
