.request-status {
  .enter-module;
  position: relative;

  &__content {
    .enter-module-content;
    text-align: center;
  }

  &__header {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin-top: -90px;

    &_red {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRkYwMDAwOyIgLz48c3RvcCBvZmZzZXQ9IjgxJSIgc3R5bGU9InN0b3AtY29sb3I6IzAwMDAwMDsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
      background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #FF0000), color-stop(81%, #000000), color-stop(100%, #000000));
      background-image: -moz-linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
      background-image: -webkit-linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
      background-image: -o-linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
      background-image: -ms-linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
      background-image: linear-gradient(90deg,#FF0000 0%,#000000 81%,#000000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
      //display:inline-block; /*required*/
    }

    &_green {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDA4NjNBOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiMwMDAwMDA7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
      background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #00863A), color-stop(100%, #000000));
      background-image: -moz-linear-gradient(90deg,#00863A 0%,#000000 100%);
      background-image: -webkit-linear-gradient(90deg,#00863A 0%,#000000 100%);
      background-image: -o-linear-gradient(90deg,#00863A 0%,#000000 100%);
      background-image: -ms-linear-gradient(90deg,#00863A 0%,#000000 100%);
      background-image: linear-gradient(90deg,#00863A 0%,#000000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
      //display:inline-block; /*required*/
    }

    &_blue {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAzRkREOyIgLz48c3RvcCBvZmZzZXQ9IjI2JSIgc3R5bGU9InN0b3AtY29sb3I6IzAwNUVCQjsiIC8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
      background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #003FDD), color-stop(26%, #005EBB), color-stop(100%, #000000));
      background-image: -moz-linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
      background-image: -webkit-linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
      background-image: -o-linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
      background-image: -ms-linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
      background-image: linear-gradient(90deg,#003FDD 0%,#005EBB 26%,#000000 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
      //display:inline-block; /*required*/
    }
  }

  &__message {
    margin: 14px auto 0;
    white-space: pre-wrap;
  }
}
