.request-status {
  text-align: center;

  &__title {
    .h1;
    padding: 100px 0 30px
  }

  &__header {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin-top: -90px;

    &_red {
      .gradient-red;
    }

    &_green {
      .gradient-green;
    }

    &_blue {
      .gradient-blue;
    }
  }

  &__message {
    margin: 14px auto 0;
    white-space: pre-wrap;
  }
}
