.roaming {
  padding: 0 75px 0 150px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -100px;
    left: 0;
    border-left: 1px solid @GRAY-LIGHT;
  }

  &_zones {
    padding-left: 75px;
  }

  @media (max-width: @BREAK-POINT) {
    padding: 0;

    &:before {
      display: none;
    }

    &_zones {
      padding-left: 0;
    }
  }

  &__title {
    .h1;
    margin-top: 30px;
    position: relative;
  }

  &__title-inner {
    color: @GRAY-DARK;
    font-size: @FONT-SIZE-BASE;
    line-height: @LINE-HEIGHT-BASE;
  }

  &__note {
    max-width: 380px;
    margin-top: 35px;
  }

  &__note-text {
    margin-top: 5px;
    color: @GRAY-DARK;
  }
}

.roaming-zone {
  display: none;

  &_show {
    display: block;
  }

  &__countries {
    .link-dashed;
  }

  &__subtitle {
    margin-top: 40px;
    position: relative;

    &_fast:after,
    &_regular:after {
      content: '';
      position: absolute;
      height: 1em;

      @media (max-width: @BREAK-POINT) {
        position: static;
        display: inline-block;
        margin-left: 0.3em;
      }
    }

    &_fast:after {
      left: -15px;
      width: 9px;
      background: url("/media/icons/fast.svg") no-repeat 50% 90%;
    }

    &_regular:after {
      left: -20px;
      width: 14px;
      background: url("/media/icons/regular.svg") no-repeat 50% 90%;
    }
  }

  &__regular {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }

  &__tariff {
    display: flex;
    margin-top: 40px;

    @media (max-width: @BREAK-POINT) {
      display: block;
      margin-top: 0;
    }
  }

  &__tariff-item {
    @media (max-width: @BREAK-POINT) {
      margin-top: 30px;
    }
  }

  &__tariff-item:not(:last-child) {
    padding-right: 50px;
  }

  &__more {
    .link-dashed;
    margin-top: 40px;
  }

  &__note {
    color: @GRAY-DARK;
  }

  &__big {
    .h2;
    font-weight: 300;
  }
}

.roaming-countries {
  margin-top: 60px;
  padding-left: 150px;
  position: relative;
}

.roaming-country {
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 30px;
  position: relative;
  color: inherit;

  &__img {
    position: absolute;
    left: 0;
    top: 15px;
  }

  &__name {
    border-bottom: 1px solid @GRAY;
  }

  &:hover &__name {
    border-bottom-color: @BLACK;
  }
}
