.settings {
  max-width: 530px;

  &__header {
    text-align: center;
  }
}

.service {
  margin-bottom: 60px;

  &__control {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    .h2;
    font-weight: 300;
    padding-right: 15px;
  }

  &__switch {
    display: flex;
  }

  &__desc {
    color: @GRAY-DARK;
  }

  &__expense {

  }

  &__expense-sums {
    display: flex;
  }

  &__expense-sum {
    margin-right: 30px;
    color: @GRAY-DARK;
    cursor: pointer;
    user-select: none;
  }
}
