.sign-up {
  .enter-module;

  &__content {
    .enter-module-content;
  }

  &__message {
    text-align: center;
  }

  &__agreement {
    text-align: center;
    color: @GRAY-DARK;
    margin-top: 12px;
  }
}
