.sign-in {
  .enter-module;
  position: relative;

  &__content {
    .enter-module-content;
  }

  &__text {
    text-align: center;
    margin-top: -120px;

    @media (max-width: 402px) {
      margin-top: -28vw;
    }
  }

  &__reg {
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    text-align: center;
  }
}
