.sign-up {
  text-align: center;

  @media (max-width: @BREAK-POINT) {
    padding-top: 40px;
  }

  &__header {
    margin: 50px 0 28px;
    color: @GRAY-DARK;
  }

  &__form {
    max-width: 380px;
    margin: auto;
  }

  &__agreement {
    color: @GRAY-DARK;
    margin-top: 12px;
  }

  &__note {
    .small;
    margin-top: 16px;
    display: none;
    opacity: 0;

    &_show {
      display: block;
      opacity: 1;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }
}
