.sign-in {
  .enter-module;

  &__content {
    .enter-module-content;
  }

  &__text {
    text-align: center;
    margin-top: -120px;

    @media (max-width: 402px) {
      margin-top: -28vw;
    }
  }
}
