.aside {
  flex: 0 0 33.33%;

  @media (max-width: @BREAK-POINT) {
    display: none;
  }

  &__inner {
    max-width: 200px;
    margin: -90px auto 0;
    padding: 0 15px 15px;
    position: relative;
    z-index: 1;
  }

  &__logo {
    position: relative;

    img {
      width: 100%;
      max-width: 308px;
      height: auto;
      margin-top: -50px;
      margin-left: -90px;

      @media (max-width: @MAX-WIDTH) {
        margin-left: calc((100% - 516px) / 2);
      }

      @media (max-width: 880px) {
        margin-left: -104px;
      }
    }
  }

  &__home {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 308px;
  }

  &__phone {
    color: @GRAY-DARK;
    margin-bottom: 50px;
    margin-left: -14px;
  }

  &__info {
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 1.7px;
    font-size: @FONT-SIZE-SMALL;

    span {
      color: @GRAY-DARK;
    }
  }

  &__nav {
  }

  &__nav-item {
    margin: 10px 0;

    &_exit {
      margin-top: 40px;
    }
  }

  &__link {
    .link-nav;
  }
}
