.cards {
  height: 189px;
  margin: 0 -8px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent);

  @media (max-width: @BREAK-POINT) {
    margin: 0 -15px;
    mask-image: none;
  }

  &__wrapper {
    position: relative;
    padding: 0;
    transition: padding 0.3s linear;

    &_new {
      padding: 35px 0;
    }
  }

  &__row {
    position: absolute;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: -20px;
    left: 0;
  }

  &__inner {
    display: table-cell;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  &__fix {
    height: 189px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card {
  flex: 0 0 auto;
  border-radius: 8px;
  padding: 15px;
  width: 143px;
  height: 91px;
  margin: 0 8px;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(to top right, #e72b2b, #ff693e);
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: width 0.2s linear, height 0.2s linear;

  &:after {
    content: '';
    position: absolute;
    width: 63px;
    height: 30px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    right: 15px;
    bottom: 15px;
    transform: scale(0.76);
    transform-origin: 100% 100%;
    opacity: 0.3;

    @supports (mix-blend-mode: lighten) {
      & {
        opacity: 1;
        mix-blend-mode: overlay;
      }
    }
  }

  &_mir:after {
    background-image: url("/media/cards/mir.png");
    background-size: 63px auto;
  }

  &_visa:after {
    background-image: url("/media/cards/visa.png");
    background-size: 63px auto;
  }

  &_mastercard:after {
    background-image: url("/media/cards/mastercard.png");
    background-size: 44px auto;
  }

  &_default &__number:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 1em;
    background: url("/media/icons/star.svg") no-repeat 50% 100%;
  }

  &_big {
    width: 285px;
    height: 170px;
    cursor: default;
    padding: 20px;

    &:after {
      transform: scale(1);
    }
  }

  &_big &__number {
    font-size: 26px;
  }

  &_apple-pay {
    display: flex;
    border: 1px solid #131313;
    justify-content: center;
    align-items: center;
    background-image: none;
  }

  &_new {
    display: flex;
    border: 1px solid @GRAY-DARK;
    color: @GRAY-DARK;
    justify-content: center;
    align-items: center;
    font-size: @FONT-SIZE-SMALL;
    padding-top: 20px;
    text-align: center;
    background-image: none;
    overflow: hidden;
  }

  &_new-selected {
    width: 285px;
    height: 189px;
    cursor: default;
  }

  &_new-filled {
    border: none;
    background-image: linear-gradient(to right top, #3daf33, #67dc01);
    color: @WHITE;
  }

  &_selected {
    width: 186px;
    height: 119px;
    cursor: default;

    &:after {
      transform: scale(1);
    }
  }

  &_auto-pay {
    margin: 50px 0 15px;
    cursor: default;
  }

  &_editor {
    transform: scale(0.7);
    transition: transform 0.3s;
    will-change: transform;
  }

  &_editor-unzoomed {
    transform: scale(1);
  }

  &__number {
    color: @WHITE;
    font-size: 15px;
    font-weight: 400;
  }

  &_selected &__number {
    font-size: 18px;
  }

  &__points {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px 15px;
  }

  &__point {
    display: block;
    width: 3px;
    height: 3px;
    background-color: @WHITE;
    margin-bottom: 3px;
    margin-left: auto;
    border-radius: 50%;
  }

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  &__row {
    display: flex;
  }

  &__holder {
    text-align: left;
    position: relative;
  }

  &__error {
    .gradient-red-purple;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    font-size: @FONT-SIZE-SMALL;
    line-height: @LINE-HEIGHT-SMALL;
    display: none;

    &_show {
      display: block;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;

    &_wide {
      max-width: 100%;
    }

    &_narrow {
      width: 50%;
    }

    &_number {
      letter-spacing: 2px;
    }
  }

  &__edit {
    max-width: 285px;
    padding-top: 30px;

    &-item {
      position: relative;
      text-align: left;
      padding-left: 31px;
      margin-bottom: 26px;
      cursor: pointer;
      user-select: none;

      &_disabled {
        color: @GRAY-DARK;
        cursor: default;
      }
    }

    &-item_disabled &-title {
      background: none;

      &:hover {
        background: none;
      }
    }

    &-icon {
      height: 25px;
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 23px;
      overflow: hidden;

      &_default svg {
        width: 17px;
        height: 12px;
      }

      &_remove svg {
        width: 14px;
        height: 13px;
      }
    }

    &-title {
      .dashed;
    }
  }
}
