.copy-code {
  width: 100%;
  max-width: 400px;

  &__code {
    margin-bottom: 20px;
    display: block;
    border: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    font-weight: 300;
    width: 100%;
    resize: none;
    height: 25px;
    white-space: nowrap;
  }
}
