.header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: #e2e2ec;
  z-index: 1000;

  &__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 80px;
    margin: auto;
    background: url("/media/images/logo-pc-mobile.png") 50% 50%;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
