@duration: 1s;

.logo-animated {
  max-width: 600px;
  margin: auto;
  padding-right: 22%;

  &__inner {
    padding-bottom: 93.33%;
    position: relative;
  }

  &__shadow {
    background: url("/media/images/logo-shadow.png") no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask-image: radial-gradient(closest-side, #000, #000, transparent);
    mask-repeat: no-repeat;
    mask-size: 0 0;
    mask-position: 50% 50%;
    transition: transform @duration, mask-size @duration;
    filter: saturate(1.2);
    z-index: 1;

    &_expand {
      filter: saturate(1);
      mask-size: 100% 100%;
    }
  }

  &__square {
    width: 6.76%;
    height: 0;
    padding-bottom: 9.9%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 200;
    transform: translateZ(0);
    opacity: .99;
    background: url("/media/icons/sim-white.svg") no-repeat 50% 0 / contain;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("/media/icons/sim-color.svg") no-repeat 50% 0 / contain;
      background-size: cover;
      opacity: 0.99;
      z-index: 2;
      transition: opacity @duration;
    }

    &_expand:before {
      opacity: 0;
    }
  }

  &__text {
    position: absolute;
    top: calc(100% + 10px);
    left: calc(100% + 10px);
    width: 63px;
    height: auto;

    @media (max-width: 600px) {
      width: 10.5vw;
    }
  }
}

@keyframes logo-shadow {
  0% {
    mask: radial-gradient(circle at center, transparent 0%, transparent, 50%, transparent 100%);
  }

  50% {
    mask: radial-gradient(circle at center, #000 0%, transparent, 50%, transparent 100%);
  }

  100% {
    mask: radial-gradient(circle at center, #000 0%, #000, 50%, transparent 100%);
  }
}
