.nav-lobby {
  display: flex;
  justify-content: center;
  padding: 46px 15px;
  position: relative;
  max-width: 600px;
  margin: auto;

  @media (max-width: @BREAK-POINT) {
    display: none;
  }

  &__back {
    position: absolute;
    top: 40px;
    left: 15px;
  }

  &__item {
    .link-nav;
    line-height: @FONT-SIZE-BASE;
    font-size: @FONT-SIZE-SMALL;
  }

  &__span {
    .nav-point;
  }
}
