.tariff-services {
  max-width: 600px;

  &__header {
    .h1;
    padding: 20px 0;
    border-bottom: 1px solid @GRAY-LIGHT;
  }
}

.tariff-service {
  color: @GRAY-DARK;
  border-bottom: 1px solid @GRAY-LIGHT;
  padding: 20px 0 29px;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    .h2;
    color: rgba(0, 0, 0, 0.76);
    margin-bottom: 10px;
    transition: color 0.3s linear;
  }

  &__desc {
    margin-bottom: 10px;
  }
}
