.cabinet {
  display: flex;
  color: #fff;
  justify-content: space-between;

  &__image {
    padding-right: 15px;
  }

  &__img {
    max-width: 100%;
    height: auto;

    &_mobile {
      display: none;
    }
  }

  &__desc {
    padding-top: 112px;
    max-width: 528px;
  }

  &__header {
    .page-title;
    margin-bottom: 25px;
  }

  &__text {
    font-weight: 100;
    margin-bottom: 35px;
  }

  &__stores {

  }

  &__store {
    height: 52px;
    width: 171px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 138px;
      height: auto;
      vertical-align: top;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__store-img {
    max-width: 171px;
    height: auto;
    border: none;
  }

  @media (max-width: @BREAK-POINT) {
    display: block;
    text-align: center;

    &__image {
      position: relative;
      padding-bottom: 135px;
      overflow: hidden;
      margin-left: -15px;
      margin-right: -15px;
      box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2) inset;
    }

    &__img {
      position: absolute;
      max-width: 100%;
      right: 0;
      left: 0;
      margin: auto;

      &_desktop {
        display: none;
      }

      &_mobile {
        display: block;
      }
    }

    &__desc {
      padding-top: 0;
      margin-right: auto;
      margin-left: auto;
    }

    &__header {
      margin-top: 27px;
    }
  }

  @media (max-width: 400px) {
    &__store {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
