.club {
  color: #fff;
  padding: 170px 15px 242px;
  background: url("/media/images/card.png") 100% 50% no-repeat;
  margin: 0 -15px;

  &_home-r2 {
    padding-bottom: 85px;
  }

  @media (min-width: 1000px) {
    margin-right: calc((100vw - 1000px) / -2);
    margin-left: calc((100vw - 1000px) / -2);
  }

  &__inner {
    max-width: 1000px;
    margin: auto;
  }

  &__header {
    .page-title;
    margin: 0 0 27px;
    max-width: 537px;
  }

  &__text {
    font-weight: 100;
    margin: 0 0 35px;
    max-width: 537px;
  }

  @media (max-width: @BREAK-POINT) {
    text-align: center;
    padding: 275px 15px 150px;
    background-size: 500px auto;
    background-position: 50% 0;

    &__inner {
      margin: auto;
    }

    &__header {
      margin-bottom: 13px;
      margin-left: auto;
      margin-right: auto;
    }

    &__text {
      font-size: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
