.tariff-services {
  &__header {
    .page-title;
    margin-bottom: 40px;
  }

  &__row {
    margin-bottom: 39px;
  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.9);
  }

  &__text {
    margin-top: 10px;
    color: @GRAY-DARK;
  }
}
