.tariff-tariff {
  padding-bottom: 100px;

  &__header {
    .h1;
    margin-bottom: 40px;
  }

  &__note {
    .small;
    margin: 10px 0 60px;
    max-width: 453px;
  }

  &__inter-calls {
    display: flex;
  }

  &__inter-calls-title {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    padding-right: 20px;
    color: rgba(33, 31, 94, 0.86);
  }

  &__random {
    padding-top: 20px;
  }

  &__random-item {
    display: flex;
    max-width: 300px;
    padding-bottom: 7px;

    img {
      margin-right: 10px;
    }

    span {
      margin-left: auto;
    }
  }

  &__random-note {
    .small;
  }

  @media (max-width: @BREAK-POINT) {
    &__inter-calls {
      display: block;
    }
  }
}
