.tariff-services {
  &__header {
    .h1;
    margin-bottom: 40px;
  }

  &__row {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(149, 155, 173, 0.25);

    &:last-child {
      border-bottom: none;
    }
  }

  &__title {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    color: rgba(33, 31, 94, 0.86);
  }

  &__text {
    margin-top: 10px;
    color: #798199;

    &_price {
      color: @ORANGE;
    }
  }
}
