.auto-pay {
  max-width: 400px;

  &__title {
    .h2;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & > div:first-child {
      padding-right: 15px;
    }
  }

  &__sections {
    margin-top: 50px;
  }

  &__section {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__block {
    max-height: 0;
    transition: max-height 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: max-height;
    overflow: hidden;

    &_show {
      max-height: 500px;
      overflow: visible;
    }

    &_overflow {
      overflow: hidden;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
  }

  &__cell {
    max-width: 215px;
  }

  &__note {
    .small;
    color: @GRAY-DARK;
  }
}
