.invite {
  &__subtitle {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin: 60px 0 20px;
    font-weight: 300;
  }

  &__text {
    margin-top: 13px;
  }

  &__subtitle .button_code-mode {
    .link-mixin(@ORANGE, @GRAY, transparent);
  }
}
