.kit {
  &__input {
    max-width: 400px;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__button {
    margin-right: 16px;
  }

  &__switches {
    display: flex;

    .checkbox-slide:first-child {
      margin-right: 7px;
    }
  }

  &__calendar {
    position: relative;
    height: 378px;
  }
}
