.pay {
  //max-width: 504px;
  text-align: center;
  position: relative;

  @media (max-width: @BREAK-POINT) {
    max-width: 100%;
  }

  &__inner {
    transition: filter 0.5s, opacity 0.5s;

    &_fade {
      opacity: 0.2;
      filter: blur(1px);
      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
    }
  }

  &__auto-pay-from:before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 50%;
    background-color: @GRAY-DARK;
    margin: 0 0.2em 0.2em;
  }
}
