.request-status {
  text-align: center;
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: @BREAK-POINT) {
    padding-bottom: 100px;
    display: block;
  }

  &__status {
    height: 111px;
    margin: 0 auto;

    &_ok {
      background-image: url("/media/icons/ok.svg");
      width: 124px;
    }

    &_error {
      background-image: url("/media/icons/error.svg");
      width: 110px;
    }

    &_pause {
      background-image: url("/media/icons/pause.svg");
      width: 51px;
    }
  }

  &__header {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin-top: -90px;

    @media (max-width: 600px) {
      margin-top: -15vw;
    }

    &_delivery {
      margin-top: 0;
    }
  }

  &__message {
    margin: 40px auto 0;
    white-space: pre-wrap;
    max-width: 500px;

    @media (max-width: @BREAK-POINT) {
      white-space: normal;
    }
  }

  &__action {
    text-align: center;
  }

  &__row {
    max-width: 450px;
    margin: 17px auto 0;
  }

  &__row-title {
    .small;
    color: @GRAY-DARK;
  }

  &__img {
    margin-bottom: 15px;

    &_round {
      border-radius: 50%;
    }
  }

  &__text {
    max-width: 450px;
    margin: 20px auto 30px;
  }
}
