.request-status {
  text-align: center;
  padding-top: 100px;

  &_delivery {
    margin-top: 100px;
  }

  &__title {
    .h1;
    padding: 100px 0 30px
  }

  &__header {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin-top: -90px;

    @media (max-width: 600px) {
      margin-top: -15vw;
    }

    &_delivery {
      margin-top: 0;
    }
  }

  &__message {
    margin: 14px auto 0;
    white-space: pre-wrap;
    max-width: 500px;

    @media (max-width: @BREAK-POINT) {
      white-space: normal;
    }
  }

  &__action {
    text-align: center;
  }

  &__row {
    max-width: 450px;
    margin: 17px auto 0;
  }

  &__row-title {
    .small;
    color: @GRAY-DARK;
  }

  &__row-value {

  }

  &__img {
    margin-bottom: 15px;

    &_round {
      border-radius: 50%;
    }
  }

  &__text {
    max-width: 450px;
    margin: 20px auto 30px;
  }
}
