.result {
  text-align: center;
  max-width: 500px;
  margin-top: 120px;

  &__image {
    margin: auto;

    &_success {
      width: 54px;
      height: 49px;
      margin-bottom: 14px;
      background: url("/media/icons/ok.svg");
    }

    &_error {
      width: 43px;
      height: 43px;
      margin-bottom: 16px;
      background: url("/media/icons/error.svg");
    }
  }

  &__header {
    .h2;
    padding-bottom: 26px;
    font-weight: 300;

    &_ok {
      .gradient-ok;
    }

    &_error {
      .gradient-error;
    }
  }

  &__text {
    margin-bottom: 10px;
  }

  &__link {
    .link-light;
    display: inline-block;
    margin-top: 20px;
  }
}
