.result {
  text-align: center;
  max-width: 500px;
  margin: 120px auto 0;

  &__image {
    margin: auto;

    &_success {
      width: 124px;
      height: 111px;
      margin-bottom: 14px;
      background: url("/media/icons/ok.svg") no-repeat 50% 50% / contain;
    }

    &_error {
      width: 110px;
      height: 111px;
      margin-bottom: 16px;
      background: url("/media/icons/error.svg") no-repeat 50% 50% / contain;
    }
  }

  &__header {
    .h2;
    font-weight: 300;
    margin-bottom: 0;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__buttons {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    margin-top: 20px;
  }
}
