.settings {
  max-width: 530px;
}

.service {
  margin-bottom: 60px;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    .h2;
    font-weight: 300;
    padding-right: 15px;
  }

  &__switch {
    display: flex;
  }

  &__desc {
    color: @GRAY-DARK;
  }

  &__expense {

  }

  &__expense-sums {
    display: flex;
  }

  &__expense-sum {
    margin-right: 30px;
    color: @GRAY-DARK;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.3s;

    &:not(&_disabled):hover {
      opacity: 0.5;
    }

    &_disabled {
      cursor: default;
    }
  }
}
