.sign-in {
  &__text {
    text-align: center;
    min-height: 50px;
    max-width: 450px;
    margin: -115px auto 0;
    white-space: pre-wrap;
    position: relative;
    z-index: 1;

    @media (max-width: 600px) {
      margin-top: calc(-20vw + 10px);
    }
  }

  &__form {
    display: block;
  }
}
