.sign-in {
  &__text {
    text-align: center;
    min-height: 50px;
    max-width: 450px;
    margin: 0 auto;
    white-space: pre-wrap;
    position: relative;
    z-index: 1;
  }

  &__form {
    display: block;
  }
}
