.balance {
  &__inner {
    display: inline-block;
    &_warn {
      .gradient-orange;
    }

    &_error {
      .gradient-red
    }
  }

  &__sum {
    .h1;
  }

  &__next-pay {
    color: @GRAY-DARK;

    &_eror {
      color: inherit;
    }
  }
}
