.button {
  font-family: inherit;
  font-size: @FONT-SIZE-BASE;
  line-height: @LINE-HEIGHT-BASE;
  border-radius: 2px;
  border: 1px solid @GRAY;
  color: @BLACK;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 28px;
  display: block;
  min-width: 172px;
  font-weight: 300;

  &_borderless {
    border: none;
    text-decoration: underline;
    text-decoration-color: @GRAY;

    &:hover {
      text-decoration-color: @BLACK;
    }
  }

  &_mobile-code {
    margin: auto;
  }

  &_mobile-code-again {
    width: 245px;
    margin: auto;
  }

  &_promo-code-continue {
    width: 172px;
    margin: auto;
  }

  &_no-promo-code {
    width: 276px;
    margin: auto;
  }

  &_request {
    width: 210px;
    margin: auto;
  }

  &_to-next-mobile {
    width: 254px;
    margin: 50px auto 0;
  }

  &_sign-up-continue {
    width: 172px;
    margin: 25px auto 0;
  }

  &:hover {
    border-color: @BLACK;
  }

  &:active {
    color: #000;
  }

  &:disabled,
  &_disabled {
    cursor: default;
    color: @GRAY;
  }

  &:disabled:hover,
  &_disabled:hover {
    border-color: @GRAY;
  }
}
