.cards {
  height: 189px;
  margin: 40px -8px 0;
  position: relative;
  overflow: hidden;

  @media (max-width: @BREAK-POINT) {
    margin: 40px -15px 0;
  }

  &__wrapper {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: -15px;
      bottom: -15px;
      width: 40px;
      background: radial-gradient(closest-side, #efeff5 50%, rgba(255, 255, 255, 0)) 50% 50% no-repeat;
      background-size: 100% 100%;
      z-index: 2;
    }

    &:before {
      left: -28px;
    }

    &:after {
      right: -28px;
    }
  }

  &__row {
    position: relative;
    overflow: auto;
    height: 209px;
    z-index: 1;
    margin-bottom: -20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 189px;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.card {
  flex: 0 0 auto;
  border-radius: 8px;
  padding: 15px;
  width: 144px;
  height: 91px;
  margin: 0 8px;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(to top right, #e72b2b, #ff693e);
  display: flex;
  justify-content: space-between;
  position: relative;

  &_default &__number:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 1em;
    background: url("/media/icons/star.svg") no-repeat 50% 100%;
  }

  &_big {
    width: 285px;
    height: 170px;
    cursor: default;
  }

  &_apple-pay {
    display: flex;
    border: 1px solid #131313;
    justify-content: center;
    align-items: center;
    background-image: none;
  }

  &_new {
    display: flex;
    border: 1px solid @GRAY-DARK;
    color: @GRAY-DARK;
    justify-content: center;
    align-items: center;
    font-size: @FONT-SIZE-SMALL;
    padding-top: 20px;
    text-align: center;
    background-image: none;
  }

  &_new-selected {
    width: 285px;
    height: 189px;
    cursor: default;
  }

  &_new-filled {
    border: none;
    background-image: linear-gradient(to right top, #3daf33, #67dc01);
    color: @WHITE;
  }

  &_selected {
    width: 168px;
    height: 119px;
    cursor: default;
  }

  &_auto-pay {
    margin: 40px 0 15px;
  }

  &__number {
    color: @WHITE;
  }

  &__points {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }

  &__point {
    display: block;
    width: 3px;
    height: 3px;
    background-color: @WHITE;
    margin-bottom: 3px;
    margin-left: auto;
    border-radius: 50%;
  }

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  &__row {
    display: flex;
  }

  &__input {
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    padding: 0;
    border: none;
    background-color: transparent;
    color: inherit;

    &_wide {
      max-width: 100%;
    }

    &_narrow {
      width: 50%;
    }

    &_number {
      letter-spacing: 2px;
    }
  }

  &__edit {
    max-width: 285px;

    &-item {
      position: relative;
      text-align: left;
      padding-left: 35px;
      margin-top: 25px;
      cursor: pointer;
      user-select: none;
    }

    &-icon {
      width: auto;
      height: 16px;
      display: inline-block;
      position: absolute;
      left: 8px;

      svg {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}
