.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_dashboard {
    min-height: calc(100vh - 30px);
    @media (max-width: @BREAK-POINT) {
      min-height: 100vh;
    }
  }

  &__header {
    display: flex;
    padding: 34px 0;
    flex-shrink: 0;
  }

  &__avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &__avatar-img {
    display: block;
    max-width: 100px;
    height: auto;
  }

  &__companion {
    display: flex;
    margin-right: auto;
  }

  &__companion_title {
    color: @GRAY-DARK;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
  }

  &__messages {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }

  &__date {
    text-align: center;
    margin-bottom: 35px;
  }

  &__date-inner {
    .small;
    display: inline-block;
    color: @GRAY-DARK;
    border-bottom: 1px dashed @GRAY-DARK;
  }

  &__message {
    display: flex;
    margin-bottom: 35px;
  }

  &__message-content {
    flex: 1 1 auto;
  }

  &__message-meta {
    .small;
    color: @GRAY-DARK;
  }

  &__message-images {
    margin-top: 30px;
    margin-left: -58px;
    width: 100%;
  }

  &__message-image {
    max-width: 18%;
    padding-bottom: 18%;
    background: no-repeat 50% 50%;
    background-size: cover;

    &:not(:last-child) {
      margin-right: 2.5%;
    }
  }

  &__file {
    position: relative;
    overflow: hidden;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
  }
}
