.expense {
  width: 100%;

  &__empty {
    text-align: center;
    margin: 20px 0 50px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 20px;
  }

  &__total-date {
    color: @GRAY-DARK;
  }

  &__total-cost {
    .h2;
    text-align: right;
  }

  &__detail {
    display: flex;
    align-items: center;
    color: @GRAY-DARK;
    margin-bottom: 14px;

    @media (max-width: @BREAK-POINT) {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  &__detail-title {
    width: 200px;
    padding-right: 20px;
    line-height: 20px;

    @media (max-width: @BREAK-POINT) {
      .small;
    }
  }

  &__detail-cost {
    width: 100px;
    padding-left: 20px;
    text-align: right;

    @media (max-width: @BREAK-POINT) {
      margin-left: auto;
    }
  }
}
