.footer {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
  padding: 0 15px 100px;

  &__copy {
    margin-right: 43px;
  }

  &__dev {
    display: flex;
  }

  &__dev-img {
    margin-top: 4px;
  }

  &__dev-text {
    .small;
    margin-left: 10px;
  }
}
