.footer {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
  padding-top: 100px;
  width: 100%;
  order: 20;

  @media (max-width: @BREAK-POINT) {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: auto;
  }

  &__copy {
    margin-right: 43px;
  }

  &__dev {
    display: flex;

    @media (max-width: @BREAK-POINT) {
      display: block;
      margin-top: 20px;
    }
  }

  &__dev-img {
    margin-top: 4px;
  }

  &__dev-text {
    .small;
    margin-left: 10px;

    @media (max-width: @BREAK-POINT) {
      margin-left: 0;
    }
  }

  &__dev-link:hover + &__dev-text &__link_stud {
    background-image: linear-gradient(to right, @BLACK);
  }

  &__link {
    .link;
    color: inherit;
  }
}
