.history {
  padding: 60px 0;

  &__expense {
    .h1;
    margin-bottom: 16px;
    margin-left: -24px;
  }

  &__items {
    height: 100px;
    display: flex;
    align-items: end;
  }

  &__item {
    border-left: 3px solid @GRAY;
    padding-right: 23px;
    cursor: pointer;
    min-height: 20%;
    margin-top: auto;

    &_selected {
      cursor: default;
      border-left-color: @BLACK;
    }
  }
}
