.inter-calls {
  max-width: 310px;

  &_more {
    margin-top: 30px;
  }

  &_services {
    margin-bottom: 50px;
  }

  &__header {
    &_light {
      color: @GRAY-DARK;
    }
  }

  &__clear {
    width: 20px;
    height: 20px;
    margin: 0 10px 0px 0;
    background: url("/media/icons/x.svg") no-repeat 100% 50%;
    background-size: 100% auto;
    cursor: pointer;
  }

  &__row {
    display: flex;
    align-items: center;

    .select {
      width: 100%;

      .input{
        padding: 0.3em 0;
      }
    }

    .select__list {
      top: calc(100% - (0.3em + 1px));
    }

    &_complete:before {
      content: '';
      height: 20px;
      width: 20px;
      background: url("/media/icons/search.svg") no-repeat 50% 50%;
      margin: 0 10px 0 0;
      flex-shrink: 0;
    }
  }

  &__selected {
    margin: 0.3em 0;
    padding: 0.33em 0;
    line-height: 25px;
    border-bottom: 1px solid @GRAY;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__country {
    display: flex;

    img {
      width: auto;
      height: 13px;
      margin-top: 6px;
      margin-right: 8px;
    }
  }

  &__note {
    color: @GRAY-DARK;
  }
}
