.limit {
  .gradient-blue-black;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;

  &_payment {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  &_show {
    display: block;
    opacity: 1;
  }

  &_overview-desktop {
    position: absolute;
    bottom: 0;

    @media (max-width: @BREAK-POINT) {
      display: none;
    }
  }

  &_overview-mobile {
    margin-top: -20px;
    margin-bottom: 20px;

    @media (min-width: @BREAK-POINT + 1) {
      display: none;
    }
  }
}
