.link-back {
  display: inline-block;
  align-self: flex-start;

  &_offset-bottom {
    margin-bottom: 30px;
  }

  &_detail {
    margin-bottom: 90px;
  }

  &_roaming-countries {
    position: absolute;
    left: 70px;
    top: 10px;
  }

  &__img {
    display: block;
  }
}
