.logo {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  &_sign-up img {
    margin-bottom: -87px;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
