.logo-animated {
  max-width: 600px;
  margin: auto;
  padding-right: 22%;

  &__inner {
    padding-bottom: 93.33%;
    position: relative;
  }

  &__shadow {
    background: url("/media/images/logo-shadow.png") no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: transform 1s;
    filter: saturate(1.2);
    z-index: 1;

    &_expand {
      transform: scale(1);
      filter: saturate(1);
    }
  }

  &__square {
    width: 6.76%;
    height: 0;
    padding-bottom: 9.9%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    transform: translateZ(0);
    opacity: .99;

    &:after {
      content: '';
      position: absolute;
      border-top-right-radius: 14px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      transition: background-color 1s;
    }

    &_expand:after {
      background-color: @WHITE;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-top-right-radius: 14px;
      background: url("/media/images/sim.png") no-repeat 50% 50%;
      background-size: cover;
      opacity: 1;
      z-index: 2;
    }
  }

  &__text {
    position: absolute;
    top: calc(100% + 10px);
    left: calc(100% + 10px);
    width: 63px;
    height: auto;

    @media (max-width: 600px) {
      width: 10.5vw;
    }
  }
}
