.logo {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-right: 22%;

  &_sign-up img {
    margin-bottom: -87px;

    @media (max-width: 600px) {
      margin-bottom: 14.5vw;
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}
