.map {
  //height: 320px;
  background-color: @WHITE;
  position: relative;
  //overflow: hidden;

  &__container {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.leaflet-container {
  height: 400px;
  width: 100%;
}
