.mobile-code {
  padding-top: 2px;

  &_sign-in {
    position: relative;
    z-index: 1;
    min-height: 212px;
  }

  &_sign-in .multiple-input {
    margin-top: 15px;
    margin-bottom: 67px;
  }

  &__timer {
    text-align: center;
    margin-top: 12px;
    color: @GRAY-DARK;
  }
}
