.multiple-input {
  display: flex;
  &__value {
    font-family: inherit;
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    border: none;
    background-color: transparent;
    width: 25px;
    padding: 0;
    border-bottom: 1px solid @GRAY;
    margin-right: 5px;
    text-align: center;
  }
}
