.multiple-input {
  display: flex;

  &_mobile-code {
    width: 115px;
    margin: 25px auto 50px;
  }

  &_promo-code {
    width: 145px;
    margin: 25px auto 50px;
  }

  &__value {
    font-family: inherit;
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    border: none;
    background-color: transparent;
    width: 25px;
    padding: 0;
    border-bottom: 1px solid @GRAY;
    margin-right: 5px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
