.note {
  text-align: center;
  opacity: 0;

  &_show {
    opacity: 1;
  }

  &_settings {
    margin-bottom: 60px;
  }

  &__message {
    display: inline-block;

    &_red {
      .gradient-red;
    }

    &_green {
      .gradient-green;
    }

    &_blue {
      .gradient-blue
    }

    &_purple {
      .gradient-purple;
    }
  }
}
