.overview-invite {
  padding: 50px 0;
  order: 45;

  &__header {
    .h1;
    .gradient-black-blue;
    text-decoration: none;
    display: block;

    span {
      background: linear-gradient(to right, @GRAY, @GRAY) repeat-x 0 95%;
      background-size: 100% 1px;
    }

    &:hover span {
      background-image: linear-gradient(to right, @BLACK);
    }
  }

  &__link {
    margin-bottom: 10px;
  }
}
