.overview-payment {
  display: flex;
  align-items: center;
  max-width: 350px;
  padding: 17px 0;
  order: 25;
  margin-bottom: 17px;

  @media (max-width: @BREAK-POINT) {
    width: 100%;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
  }

  &__title {
    .link;
  }
}
