.overview-payment {
  display: flex;
  align-items: center;
  max-width: 350px;
  padding: 17px 0;

  @media (max-width: @BREAK-POINT) {
    width: 100%;
    max-width: 450px;
    margin: auto;
    flex-wrap: wrap;
  }

  &__title {
    .link;
    margin-bottom: 6px;
  }
}
