.overview-invite {
  order: 45;

  @media (max-width: @BREAK-POINT) {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  &__header {
    .h1;
    text-decoration: none;
    display: block;

    & > span {
      .gradient-black-blue;
    }

    & > span > span {
      background: linear-gradient(to right, #000, #003cff) repeat-x 0 calc(50% + 0.43em);
      background-size: 100% 1px;
    }

    &:hover > span > span {
      background-image: linear-gradient(to right, @BLACK);
    }
  }

  &__subtitle {
    margin-top: 21px;
  }

  &__link {
    margin-bottom: 10px;
  }
}
