.overview-invite {
  padding: 50px 0;

  &__header {
    .gradient-blue;
    .link;
    .h1;
    margin-bottom: 20px;
    display: block;
  }

  &__link {
    margin-bottom: 10px;
  }

  &__code {
    margin-bottom: 20px;
    display: block;
    border: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    font-weight: 300;
  }
}
