.package {
  padding: 25px 0;
  max-width: 400px;
  width: 100%;

  &__title {
    margin-bottom: 2px;
  }

  &__table {
    width: 100%;
    border-top: 1px solid @GRAY-LIGHT;
    margin-top: 10px;
  }

  &__row {
    display: flex;
    border-bottom: 1px solid @GRAY-LIGHT;
    text-decoration: none;
    color: inherit;

    .row-hover;
  }

  &__cell {
    padding: 12px;
    flex: 1 1 33.33%;
    white-space: nowrap;

    &_period {
      text-align: center;
      color: @GRAY-DARK;
    }

    &_price {
      text-align: right;
    }

    @media screen and (max-width: 350px) {

      &_count {
        flex-basis: 43%;
      }

      &_period {
        flex-basis: 28.5%;
      }

      &_price {
        flex-basis: 28.5%;
      }
    }
  }
}
