.remain {
  max-width: 450px;

  &__title {
    margin-bottom: 15px;
  }

  &__item {
    margin-bottom: 28px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: end;

    span {
      .h1;
    }
  }

  &__service {
    .link-dashed;
    margin-bottom: 5px;
  }
}
