.roaming-countries {
  margin-top: 60px;
  padding-left: 150px;
  position: relative;

  &__title {
    .h1;
  }
}

.roaming-country {
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 30px;
  position: relative;
  color: inherit;

  &__img {
    position: absolute;
    left: 0;
    top: 15px;
  }

  &__name {
    border-bottom: 1px solid @GRAY;
  }

  &:hover &__name {
    border-bottom-color: @BLACK;
  }
}
