.roaming-dashboard {
  order: 40;

  &_roaming {
    order: 27;
  }

  @media (max-width: @BREAK-POINT) {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }

  &__title {
    .link;
    margin-bottom: 26px;
    display: inline-block;
  }

  &__list {
    display: none;

    @media (max-width: @BREAK-POINT) {
      display: block;
    }
  }

  &__item {
    @media (max-width: @BREAK-POINT) {
      margin-bottom: 30px;
    }
  }

  &__item-name {
    padding-right: 15px;
    vertical-align: top;
  }

  &__item-desc {
    padding-right: 15px;
    padding-left: 20px;
    position: relative;

    @media (max-width: @BREAK-POINT) {
      padding-left: 0;
      padding-right: 18px;
      color: @GRAY-DARK;
      margin-top: 14px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 18px;
      background: no-repeat 50% 50%;
      position: absolute;
      height: 0.7em;
      left: 0;
      top: 0.2em;

      @media (max-width: @BREAK-POINT) {
        position: static;
      }
    }

    &_fast:after {
      background-image: url("/media/icons/fast.svg");
    }

    &_regular:after {
      background-image: url("/media/icons/regular.svg");
    }
  }

  &__item-conditions {
    flex: 8 8 auto;
  }

  &__table {
    width: 100%;

    @media (max-width: @BREAK-POINT) {
      display: none;
    }
  }
}
