.map {
  height: 500px;
  background-color: @WHITE;
  position: relative;
  max-height: 80vh;
  margin: 0 -15px;
  width: calc(100% + 30px);

  @media (min-width: @MAX-WIDTH) {
    margin-right: calc((100vw - 1185px) / -2);
    width: auto;
  }

  &__container {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .leaflet-container {
    height: 100%;
    background-color: #e6e6f3;
  }
}
