.select {
  position: relative;
  font-size: @FONT-SIZE-BASE;
  text-align: left;

  &_settings {
    font-size: @FONT-SIZE-H2;
    margin-bottom: 70px;
  }

  &_auto-pay-day {
    width: 45px;
  }

  &_auto-pay-day &__list {
    width: 80px;
    left: auto;
    right: 0;
  }

  &_auto-pay-month {
    width: 145px;
  }

  &_auto-pay-month &__value {
    background: url("/media/icons/calendar.svg") 100% 50% no-repeat;
  }

  &_auto-pay-month &__list {
    width: 200px;
    left: auto;
    right: 0;
  }

  &_operations-filter {
    max-width: 100%;
    font-size: @FONT-SIZE-SMALL;
  }

  &_operations-filter &__list {
    right: auto;
    width: 320px;
    font-size: @FONT-SIZE-BASE;
  }

  &_operations-filter-list {
    color: @GRAY-DARK;
    max-width: 500px;
    margin: auto;
  }

  &__placeholder {
    color: @GRAY-DARK;
    font-size: 0.83em;
  }

  &__value {
    border-bottom: 1px solid @GRAY;
    padding: 0.33em 0;
    cursor: pointer;
    user-select: none;
    position: relative;
    white-space: nowrap;

    &_open:after {
      transform: rotate(180deg);
    }

    &_hide-icon:after {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 9px;
      background: 50% 50% url("/media/icons/down.svg") no-repeat;
    }
  }

  &__list {
    .shadow;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    min-width: 70px;
    max-height: 250px;
    background-color: @WHITE;
    overflow: auto;
    z-index: 2;
    transform: scale(0);
    transition: transform 0.2s;

    @media (max-width: @BREAK-POINT) {
      max-height: 40vh;
    }

    &_open {
      transform: scale(1);
    }

    &_auto-complete {
      top: calc(100% - (1px + 1.43em));
    }
  }

  &__item {
    padding: 0.66em 10px 0.66em 2em;
    cursor: pointer;
    color: @GRAY-DARK;
    transition: color 0.2s linear, background-color 0.2s linear;

    &_lang {
      padding-left: 1em;
    }

    &:hover {
      background-color: @GRAY-LIGHT;
      color: @BLACK;
    }

    &_active {
      color: @BLACK;
      background: url("/media/icons/regular.svg") 0.7em 50% no-repeat;
      background-size: 0.8em auto;
    }
  }

  &__img {
    margin-right: 10px;
    background-color: @WHITE;
    width: 20px;
    height: auto;
  }
}
