.tabs {
  height: 86px;
  position: relative;
  overflow: hidden;

  @media (max-width: @BREAK-POINT) {
    margin-right: -15px;
  }

  &__scroll {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -20px;
    left: 0;
  }

  &__inner {
    display: flex;
    padding: 30px 0 0;
    position: absolute;

    @media (max-width: @BREAK-POINT) {
      padding-right: 15px;
    }
  }
}

.tab {
  .h2;
  color: @GRAY-DARK;
  font-weight: 100;
  border-bottom: 1px solid @GRAY;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  position: relative;
  padding-top: 10px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &_active {
    color: @BLACK;
    font-weight: 300;
    border-bottom-color: transparent;
    cursor: default;
  }

  &_disable {
    color: @GRAY;
    border-bottom-color: @GRAY-LIGHT;
  }
}
