.cell {
  flex: 1 1 33.33%;
}

.tariff-table {
  width: calc(100% + 30px);
  margin: 0 -15px 46px;
  max-width: 100%;

  @media (max-width: 630px) {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &__inner {
    padding-top: 5px;
    margin: 0 15px;

    @media (max-width: 630px) {
      min-width: 570px;
    }
  }

  &__row {
    padding: 6px 0;
    transition: padding 0.3s;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      left: -15px;
    }

    &_detail {
      padding: 20px 0;
    }

    &_detail:not(:first-child) {
      border-top: 1px solid @GRAY-LIGHT;
    }

    &:hover:not(:first-child):before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &__names {
    display: flex;
  }

  &__name {
    .cell;
    .h2;
    position: relative;
  }

  &__actions {
    display: flex;
    padding-bottom: 25px;
  }

  &__action {
    .cell;
  }

  &__title {
    color: @GRAY-DARK;
    transition: max-height 0.3s linear;
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &_show {
      max-height: 75px;
    }
  }

  &__cells {
    display: flex;
    z-index: 2;
    position: relative;
  }

  &__cell {
    .cell;
  }

  &__toggle {
    .link-dashed;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
  }
}
