.tariff-services {
  &__header {
    .h1;
    padding: 20px 0;
    border-bottom: 1px solid @GRAY-DARK;
  }
}

.tariff-service {
  color: @GRAY-DARK;
  border-bottom: 1px solid @GRAY-DARK;
  padding: 20px 0 25px;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    margin-bottom: 10px;

    &_checked {
      color: @BLACK;
    }
  }

  &__desc {
    margin-bottom: 10px;
  }

  &__price {

  }
}
