.cell {
  flex: 1 1 33.33%;
  min-width: 200px;
}

.tariff-table {
  padding-bottom: 70px;
  overflow: auto;
  max-width: 100%;
  margin-top: 70px;

  &__inner {
    width: 600px;
    padding-top: 5px;
  }

  &__row {
    padding: 6px 0;

    &_detail {
      padding: 20px 0;
    }

    &_detail:not(:first-child) {
      border-top: 1px solid @GRAY-LIGHT;
    }
  }

  &__names {
    display: flex;
  }

  &__name {
    .cell;
    font-size: @FONT-SIZE-H2;
    line-height: @LINE-HEIGHT-H2;
    position: relative;

    &_active span {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDAwMDAwOyIgLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3R5bGU9InN0b3AtY29sb3I6IzAwMDAwMDsiIC8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM2NTgwQkI7IiAvPjxzdG9wIG9mZnNldD0iOTklIiBzdHlsZT0ic3RvcC1jb2xvcjojRkZGRkZGOyIgLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgLz48L3N2Zz4=);
      background-image: -webkit-gradient(linear, left top, 135deg, color-stop(0%, #000000), color-stop(40%, #000000), color-stop(70%, #6580BB), color-stop(99%, #FFFFFF));
      background-image: -moz-linear-gradient(135deg,#000000 0%,#000000 40%,#6580BB 70%,#FFFFFF 99%);
      background-image: -webkit-linear-gradient(135deg,#000000 0%,#000000 40%,#6580BB 70%,#FFFFFF 99%);
      background-image: -o-linear-gradient(135deg,#000000 0%,#000000 40%,#6580BB 70%,#FFFFFF 99%);
      background-image: -ms-linear-gradient(135deg,#000000 0%,#000000 40%,#6580BB 70%,#FFFFFF 99%);
      background-image: linear-gradient(135deg,#000000 0%,#000000 40%,#6580BB 70%,#FFFFFF 99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
      display:inline-block; /*required*/
      z-index: 1;
    }

    &_active:after {
      content: '';
      position: absolute;
      width: 109px;
      height: 72px;
      background: url("/media/images/blur.png") 50% 50% no-repeat;
      bottom: -20px;
      margin-left: -50px;
    }
  }

  &__actions {
    display: flex;
    padding-bottom: 25px;
  }

  &__action {
    .cell;
  }

  &__title {
    color: @GRAY-DARK;
    display: none;

    &_show {
      display: block;
    }
  }

  &__cells {
    display: flex;
  }

  &__cell {
    .cell;
  }

  &__toggle {
    .link-dashed;
    margin-top: 30px;
    cursor: pointer;
  }
}
