.balance {
  order: 20;
  width: 100%;
  margin-bottom: 60px;

  &__header {
    .h1;
    margin-bottom: 9px;
    color: rgba(0, 0, 0, 0.25);
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
      &_warn {
        .gradient-orange;
      }

      &_error {
        .gradient-red
      }
  }

  &__sum {
    .big;
    margin-bottom: 11px;

    &_negative {
      text-indent: -25px;
    }
  }

  &__coins {
    font-size: 18px;
    font-weight: 300;
  }

  &__message {
    color: @GRAY-DARK;
  }

  &__center {
    width: 34px;
    height: 34px;
    background: url("/media/icons/balance-arrow.svg") no-repeat 50% 50%;
  }

  &__right {
    max-width: 392px;
  }

  &__pay {
    display: flex;
    align-items: flex-start;
  }

  &__auto-pay {
    margin-top: 6px;
    color: @GRAY-DARK;
  }

  @media (max-width: @MAX-WIDTH) {
    &__inner {
      display: block;
    }

    &__center {
      transform-origin: 50% 50%;
      transform: rotate(90deg);
      margin: 25px 0;
    }

    &__sum_negative {
      text-indent: 0;
    }
  }
}
