.card-editor {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  max-width: 540px;
  justify-content: center;
  align-items: flex-start;
  padding-top: 192px;

  &_show {
    display: flex;
  }
}
