.combo-box {
  position: relative;
  height: 52px;
  z-index: 401;
  background: #f1f0f6 url("/media/icons/search.svg") 30px 50% no-repeat;
  border-radius: 26px;

  &_desktop {
    position: absolute;
    right: 62px;
    bottom: 26px;
    left: 62px;
    background-image: none;
    z-index: 403;
    border: 2px solid rgba(21, 20, 67, 0.25);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 82px;
      background: url("/media/icons/search.svg") 49px 50% no-repeat;
      z-index: 4;
    }

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      right: -2px;
      left: -2px;
      background-color: @WHITE;
      z-index: 3;
      border-radius: 26px 26px 0 0;
      height: 0;
      transition: height 0.2s;
    }
  }

  &_drawer:after {
    height: calc(100% + 10px);
  }

  &_hide-icon {
    background-image: none;

    &:before {
      display: none;
    }
  }

  &_desktop .select__item {
    padding-left: 49px;
  }

  &_desktop &_title-wrapper {
    z-index: 3;
  }

  &_desktop &__title {
    background: #f1f0f6;
    margin-left: 83px;
    border-radius: 0 26px 26px 0;
  }

  &_desktop .select__list {
    top: 0;
    right: -2px;
    left: -2px;
    transform: scaleY(0);
    transform-origin: 0 0;
    border-radius: 0 0 26px 26px;
    width: auto;
    transition: transform 0.2s, top 0.2s;
  }

  &_desktop .select__list_open {
    transform: scaleY(1);
    top: 50px;
  }

  &_desktop &__value {
    z-index: 4;
    padding-left: 82px;
  }

  &_desktop &__clear {
    z-index: 1;
    width: 83px;
  }

  @media (max-width: @BREAK-POINT) {
    padding-left: 52px;

    &_desktop {
      display: none;
    }

    &_mobile {
      background: #e8e8f0;
      height: 60px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: @WHITE;
        z-index: 3;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }
    }

    &_mobile &__value {
      padding-right: 60px;
      z-index: 3;
    }

    &_mobile &__title-wrapper {
      display: flex;
      justify-content: center;
      left: 60px;
      right: 60px;
    }

    &_mobile &__title {
      padding: 3px 0 0;
      max-width: calc(100% - 20px);
      overflow: hidden;
      text-oveflow: ellipsis;
    }

    &_mobile &__clear {
      background: url("/media/icons/x-small-gray.svg") no-repeat 50% 53%;
      position: static;
      height: 60px;
      width: 20px;
      background-size: 12px auto;
    }
  }

  &__clear {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 62px;
    background: url("/media/icons/x-combo.svg") 49px 50% no-repeat;
    background-size: 18px auto;
    user-select: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    @media (max-width: @BREAK-POINT) {
      left: 56px;
      width: 56px;
      z-index: 1;
    }
  }

  &__value {
    width: 100%;
    height: 100%;
    font-size: inherit;
    font-family: inherit;
    font-weight: 300;
    border: none;
    padding: 0 62px 0 90px;
    background-color: transparent;
    position: relative;
    z-index: 1;

    @media (max-width: @BREAK-POINT) {
      padding: 8px;
      background: none;
    }
  }

  &__title-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 62px;
    white-space: nowrap;
    overflow: hidden;
    text-oveflow: ellipsis;

    @media (max-width: @BREAK-POINT) {
      display: block;
      margin-left: 0;
      line-height: 56px;
      padding-right: 15px;
      padding-left: 56px;
      max-width: calc(100vw - 56px);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__zone {
    color: @GRAY-DARK;
    padding-left: 0.3em;

    @media (max-width: @BREAK-POINT) {
      display: none;
    }
  }
}
