.footer-nav {
  display: none;
  flex-wrap: wrap;
  order: 50;
  width: 100%;
  margin: 60px 0 -65px;
  position: relative;
  z-index: 1;
  padding-top: 51px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    left: -15px;
    height: 1px;
    background: @GRAY-LIGHT;
  }

  &__item {
    flex: 1 1 33.33%;
    font-size: 15px;
    line-height: 35px;
  }

  @media (max-width: @BREAK-POINT) {
    display: flex;
  }

  @media (max-width: 600px) {
    &__item {
      flex: 1 1 50%;
    }
  }
}
