.header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: #e2e2ec;
  z-index: 1001;
  display: none;

  @media (max-width: @BREAK-POINT) {
    display: block;
  }

  &__logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 80px;
    margin: auto;
    background: url("/media/images/logo-pc-mobile.png") 50% 50%;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &__search-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    z-index: 401;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    &_zoom {
      background-image: url("/media/icons/search.svg");
    }

    &_close {
      background-image: url("/media/icons/x.svg");
      background-size: 20px auto;
    }
  }
}
