.history {
  &__expense {
    .h1;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;

    span {
      position: absolute;
      left: -30px;
    }
  }

  @media (max-width: 1000px) {
    &__expense {
      margin-bottom: -90px;
    }
  }

  @media (max-width: @BREAK-POINT) {
    &__expense span {
      position: static;
    }
  }
}
