.history {
  &__expense {
    .h1;
    position: relative;
    margin-top: 30px;
    margin-bottom: -70px;

    span {
      position: absolute;
      left: -30px;
    }
  }

  @media (max-width: @BREAK-POINT) {
    &__expense {
      margin-bottom: -70px;

      span {
        position: static;
      }
    }
  }
}
