.mobile-code {
  padding-top: 2px;
  text-align: center;

  &_sign-in {
    position: relative;
    z-index: 1;
    min-height: 212px;
  }

  &_sign-in .multiple-input {
    margin-top: 25px;
    margin-bottom: 38px;
  }

  &__timer {
    margin-top: 15px;
    color: @GRAY-DARK;
  }
}
