.note {
  text-align: center;
  opacity: 0;

  &_show {
    opacity: 1;
  }

  &_hide-cont {
    display: none;
  }

  &_dashboard {
    text-align: left;
    margin-bottom: 26px;
    max-width: 600px;
  }

  &_settings {
    margin-bottom: 60px;
  }

  &_services {
    text-align: left;
    margin-top: 14px;
  }

  &__message {
    display: inline-block;

    &_red {
      .gradient-red;
    }

    &_green {
      .gradient-green;
    }

    &_blue {
      .gradient-blue
    }

    &_purple {
      .gradient-purple;
    }
  }

  &__sub {
    color: @GRAY-DARK;
  }
}
