.operations {
  width: 100%;
  position: relative;
  min-height: 100vh;

  &__empty {
    margin-top: 20px;
    text-align: center;
  }

  &__dates {
    display: flex;
    padding: 15px 0 20px 5px;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  .operations__date-from {
    line-height: @LINE-HEIGHT-BASE;
    margin: 0 5px 1px 0;
  }

  .operations__date-to {
    line-height: @LINE-HEIGHT-BASE;
    margin: 0 5px 1px 26px;
  }

  &__dates-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @GRAY-DARK;
    position: relative;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__hover {
    width: 2px;
    background-color: #f00;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  &__row {
    td {
      vertical-align: top;
      padding: 0;
    }

    td > div {
      position: relative;
    }

    &:not(&_header):hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &_header {
      color: @GRAY-DARK;
      font-size: @FONT-SIZE-SMALL;
    }
  }

  &__row:hover &__type:before {
    opacity: 1;
  }

  &__td {
    &_date {
      width: 17.2%;
    }

    &_time {
      width: 6.8%;
    }

    &_type {
      width: 45.2%;
    }

    &_count {
      width: 14.5%;
    }

    &_cost {
      width: 12.3%;
    }
  }

  &__cell {
    border-top: 1px solid @GRAY;
    padding: 20px 0;
    min-height: 100%;

    &_date {
      padding-right: 10px;
      white-space: nowrap;
    }

    &_date-h {

    }

    &_date-h,
    &_time-h,
    &_count-h,
    &_cost-h {
      padding-top: 25px;
    }

    &_type,
    &_type-h{
      padding: 20px 20px 20px 40px;
    }

    &_count {
      padding-right: 10px;
      white-space: nowrap;
    }

    &_cost {
      text-align: right;
      white-space: nowrap;
    }

    &_button {
      padding-top: 20px;
    }

    &_hide {
      border-top-color: transparent;
    }
  }

  &__cell-empty {
    width: 2%;
  }

  &__note {
    .small;
    color: @GRAY-DARK;
  }

  &__type {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      top: -5px;
      left: -34px;
      opacity: 0;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &_beeline:before {
      background-image: url("/media/operators/beeline.png");
      background-size: auto 20px;
    }

    &_megafon:before {
      background-image: url("/media/operators/megafon.png");
      background-size: auto 20px;
    }

    &_mts:before {
      background-image: url("/media/operators/mts.png");
      background-size: auto 20px;
    }

    &_tele2:before {
      background-image: url("/media/operators/tele2.png");
      background-size: 30px auto;
    }

    &_baikalvestcom:before {
      background-image: url("/media/operators/baikalvestcom.png");
      background-size: auto 20px;
    }

    &_einsteint-telecom:before {
      background-image: url("/media/operators/einsteint-telecom.png");
      background-size: 30px auto;
    }

    &_kuban-gsm:before {
      background-image: url("/media/operators/kuban-gsm.png");
      background-size: auto 20px;
    }

    &_motive:before {
      background-image: url("/media/operators/motive.png");
      background-size: auto 20px;
    }

    &_next:before {
      background-image: url("/media/operators/next.png");
      background-size: auto 20px;
    }

    &_ornost:before {
      background-image: url("/media/operators/ornost.png");
      background-size: auto 20px;
    }

    &_smarts:before {
      background-image: url("/media/operators/smarts.png");
      background-size: auto 20px;
    }
  }

  &__list {
    .small;
    display: none;
    margin: 40px auto 0;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  &__list-dates {
    display: flex;
    position: relative;
    max-width: 500px;
    margin: auto;
  }

  &__list-dates-divider {
    width: 15px;
    height: 1px;
    background-color: @GRAY;
    margin: auto 15px;
  }

  &__item {
    border-bottom: 1px solid @GRAY-LIGHT;
    padding: 18px 0;
  }

  &__item-date {
    color: @GRAY-DARK;
    display: flex;
    align-items: center;
    padding: 60px 0 10px;

    &:before,
    &:after {
      content: '';
      flex: 1 1 auto;
      height: 1px;
      background-color: @GRAY-LIGHT;
    }

    &:before {
      margin-right: 10px;
    }

    &:after {
      margin-left: 10px;
    }
  }

  &__item-row {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;

    &_gray {
      color: @GRAY-DARK;
    }
  }

  &__list-empty {
    padding: 15px 0;
    text-align: center;
  }

  &__loader {
    color: @GRAY-DARK;
    text-align: center;

    @media (max-width: 1000px) {
      margin-top: 40px;
    }
  }
}
