.overview-auto-pay {
  padding-top: 30px;

  &__title {
    position: relative;

    &:before {
      content: '';
      width: 28px;
      height: 32px;
      position: absolute;
      top: -5px;
      left: -35px;
      display: inline-block;
      background-image: url("/media/icons/auto-pay.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 28px 32px;
    }
  }

  &__list {
    .list;
    margin: 0;
    color: @GRAY-DARK;
  }

  @media (max-width: @BREAK-POINT) {
    &__title:before {
      position: relative;
      top: 10px;
      left: 0;
      margin-right: 7px;
    }
  }
}
