.overview-auto-pay {
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: url("/media/icons/auto-pay.png");
  background-repeat: no-repeat;
  background-position: 19px 20px;

  &__list {
    .list;
    margin: 0;
    color: @GRAY-DARK;
  }
}
