.overview-payment {
  max-width: 350px;
  padding: 17px 0;
  order: 25;
  margin-bottom: 17px;
  position: relative;

  &__inner {
    display: flex;
    align-items: center;

    @media (max-width: @BREAK-POINT) {
      display: block;
    }
  }

  @media (max-width: @BREAK-POINT) {
    width: 100%;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
  }

  &__title {
    .link;

    @media (max-width: @BREAK-POINT) {
      display: inline-block;
    }
  }
}
