.overview-invite {
  order: 45;

  @media (max-width: @BREAK-POINT) {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  &__header {
    .h1;
    text-decoration: none;
    display: block;
    opacity: 1;

    & > span {
      .gradient-invites;
      display: inline-block;
    }

    &:hover > span {
      color: #003CFF;
      -webkit-background-clip: border-box;
      -webkit-text-fill-color: #003CFF;
      background-color: transparent;
      background-image: none;
    }

    & > span > span {
      background: linear-gradient(84deg, rgba(93, 126, 254, 0.4), rgba(93, 126, 254, 0.4)) repeat-x 0 calc(50% + 0.43em);
      background-size: 100% 1px;
    }

    &:hover > span > span {
      background-image: linear-gradient(to right, #003CFF, #003CFF);
      background-size: 100% 1px;
    }
  }

  &__subtitle {
    margin-top: 21px;
  }

  &__link {
    margin-bottom: 10px;
  }
}
