.overview-auto-pay {
  order: 26;
  margin-bottom: 60px;
  margin-top: -2px;
  width: 100%;
  max-width: 450px;

  @media (max-width: @BREAK-POINT) {
    margin-top: 26px;
  }

  &__title {
    .gradient-black-blue;
    display: inline-block;
  }

  &__list {
    .list;
    margin: 0;
    color: @GRAY-DARK;
  }
}
