.package {
  padding: 25px 0;
  max-width: 450px;
  width: 100%;

  &__title {
    margin-bottom: 2px;
  }

  &__desc {
    margin-bottom: 20px;
    color: @GRAY-DARK;
  }

  &__table {
    width: 100%;
    margin-top: 10px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;

    &_simple {
      border-top: 1px solid @GRAY;
      padding: 19px 0;
    }

    &_simple:last-child {
      border-bottom: 1px solid @GRAY;
    }

    &:hover {
      background-color: @WHITE;
    }

    &_simple:hover {
      background-color: transparent;
    }
  }

  &__cell {
    padding: 10px;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;

    &_count {
      flex-basis: 30%;
    }

    &_count-fast span {
      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url("/media/icons/fast-purple.svg") no-repeat 100% 100%;
      }
    }

    &_period {
      text-align: center;
      color: @GRAY-DARK;
      flex-basis: 20%;
    }

    &_price {
      text-align: right;
      flex-basis: 20%;
    }

    &_action {
      flex-basis: 30%;
      text-align: right;
    }

    @media screen and (max-width: 500px) {
      &_count {
        flex-basis: 40%;
      }

      &_period {
        flex-basis: 28.5%;
      }

      &_price {
        flex-basis: 26.5%;
      }

      &_action {
        text-align: left;
        width: 100%;
      }
    }
  }
}
