.package {
  padding: 25px 0;
  max-width: 484px;
  width: 100%;

  &__title {
    margin-bottom: 5px;

    span {
      color: #6c7284;
    }
  }

  &__desc {
    margin-bottom: 20px;
    color: @GRAY-DARK;
  }

  &__table {
    margin: 10px -24px 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    transition: background-color 0.3s;

    &_simple {
      border-top: 1px solid @GRAY;
      padding: 19px 0;
    }

    &_simple:last-child {
      border-bottom: 1px solid @GRAY;
    }

    &:hover {
      background-color: rgba(149, 155, 173, 0.1);
    }

    &_simple:hover {
      background-color: transparent;
    }
  }

  &__link {
    .link-mixin(@ORANGE, rgba(255, 85, 0, 0.1), rgba(255, 85, 0, 0.1), inherit);
  }

  &__cell {
    padding: 10px;
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;

    &_count {
      flex-basis: 30%;
      padding-left: 24px;
    }

    &_period {
      text-align: center;
      flex-basis: 20%;
    }

    &_price {
      text-align: right;
      flex-basis: 20%;
    }

    &_action {
      flex-basis: 30%;
      text-align: right;
      padding-right: 24px;
    }
  }

  @media (max-width: @BREAK-POINT) {
    &__table {
      margin-left: 0;
      margin-right: 0;
    }

    &__row:hover {
      background-color: transparent;
    }

    &__cell {
      &_count {
        padding-left: 0;
      }

      &_action {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__cell {
      &_count {
        flex-basis: 40%;
      }

      &_period {
        flex-basis: 28.5%;
      }

      &_price {
        flex-basis: 26.5%;
      }

      &_action {
        text-align: left;
        width: 100%;
      }
    }
  }
}
