.payment {
  width: 100%;
  margin-bottom: 60px;

  @media (max-width: @BREAK-POINT) {
    max-width: 100%;
  }

  &__sum {
    font-size: 60px;
    line-height: 54px;
    font-weight: 100;
    margin-top: 30px;
  }

  &__company {
    height: 189px;
  }

  &__message {
    margin-top: 10px;
    color: @GRAY-DARK;
    font-size: 15px;
  }

  &__img {
    margin-top: 30px;
  }

  &__company-name {
    margin: 10px 0;
  }

  &__note {
    color: @GRAY-DARK;
    margin-top: 40px;
  }
}
