.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: @BREAK-POINT) {
    padding-top: 40px;
  }

  &__point {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid @GRAY-LIGHT;

    &_filled {
      border: none;
      background-image: url("/media/icons/check.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &_active {
      background-color: @ORANGE;
      border: none;
    }
  }

  &__line {
    width: 18px;
    height: 1px;
    background-color: @GRAY-LIGHT;
    margin: 0 2px;
  }
}
