.remain {
  &__header-link {
    .link-mixin(@ORANGE, rgba(255, 85, 0, 0.2), rgba(255, 85, 0, 0.2));
    font-size: @FONT-SIZE-BASE;
    line-height: @LINE-HEIGHT-BASE;
  }

  &__link {
    .link;
    margin-bottom: 15px;
    display: inline-block;
  }

  &__item {
    padding: 32px 0 11px;
    max-width: 581px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    color: rgba(21, 20, 67, 0.5);

    span {
      .h2;
    }
  }

  &__service {
    margin-bottom: 2px;
    margin-top: auto;
    position: relative;
    z-index: 1;

    &_link {
      .link;
      color: rgba(21, 20, 67, 0.5);
      background-repeat: repeat-x;
      background-image: linear-gradient(to right, @GRAY-LIGHT 50%, transparent 50%);
      background-size: 6px 1px;
    }
  }

  &__package {
    .small;
    margin-top: 5px;
  }
}
