.request-status-footer {
  &__item {
    color: @BLACK;
    text-decoration: none;
    border-bottom: 1px solid @GRAY;
    font-size: @FONT-SIZE-BASE;
    line-height: 22px;

    &:hover {
      border-bottom-color: @BLACK;
    }
  }

  &__span {
    .nav-point;
  }
}
