.map {
  height: 500px;
  background-color: @WHITE;
  position: relative;
  max-height: 60vh;
  width: calc(100% + 30px);
  margin: 0 -15px;

  @media (min-width: @MAX-WIDTH) {
    margin-right: calc((100vw - 987px) / -2);
    width: auto;
  }

  .ie10 & {
    margin-right: 0;
  }

  &__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 52px;
    left: 0;
    overflow: hidden;

    @media (max-width: @BREAK-POINT) {
      top: 60px;
      bottom: 0;
    }
  }

  &__controls {
    position: absolute;
    right: 37px;
    bottom: 35px;
    border: 1px solid #dcdcdc;
    z-index: 500;

    @media (max-width: @BREAK-POINT) {
      display: none;
    }
  }

  &__span {
    width: 17px;
    height: 1px;
    margin: auto;
    background-color: #dcdcdc;
  }

  &__button {
    width: 21px;
    height: 18px;
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 11px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: @BLACK;
    }

    &_plus:after {
      transform: rotate(90deg);
    }

    &_disabled {
      cursor: default;
    }

    &_disabled:before,
    &_disabled:after {
      background-color: @GRAY;
    }
  }

  .leaflet-container {
    height: 100%;
    background-color: #e6e6f3;
  }
}
