.roaming-current {
  &__subtitle {
    margin-top: 40px;
    position: relative;
  }

  &__regular {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }

  &__tariff {
    display: flex;
    margin: 40px 0;

    @media (max-width: @BREAK-POINT) {
      display: block;
      margin-top: 0;
    }
  }

  &__tariff-item {
    @media (max-width: @BREAK-POINT) {
      margin-top: 30px;
    }
  }

  &__tariff-item:not(:last-child) {
    padding-right: 50px;
  }

  &__note {
    color: @GRAY-DARK;

    @media (max-width: @BREAK-POINT) {
      &_desktop {
        display: none;
      }
    }

    @media (min-width: @BREAK-POINT + 1) {
      &_mobile {
        display: none;
      }
    }
  }
}
