.roaming-tariff {
  max-width: 400px;

  &__item {
    display: flex;
    padding: 15px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(121, 129, 153, 0.2);
    }

    @media (max-width: @BREAK-POINT) {
      display: block;
    }
  }

  &__title {
    flex: 1 1 25%;
    color: @GRAY-DARK;

    @media (max-width: @BREAK-POINT) {
      margin-bottom: 10px;
    }
  }

  &__content {
    flex: 1 1 75%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__cost {
    span {
      color: @GRAY-DARK;
    }
  }
}
