.roaming-dashboard {
  &__list {
    display: none;

    @media (max-width: @BREAK-POINT) {
      display: block;
    }
  }

  &__item {
    @media (max-width: @BREAK-POINT) {
      margin-bottom: 30px;
    }
  }

  &__item-name {
    padding-right: 15px;
    vertical-align: top;
  }

  &__item-desc {
    padding-right: 15px;
    padding-left: 20px;
    position: relative;

    @media (max-width: @BREAK-POINT) {
      padding-left: 0;
      padding-right: 18px;
      color: @GRAY-DARK;
      margin-top: 14px;
    }
  }

  &__item-conditions {
    flex: 8 8 auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 670px;

    @media (max-width: @BREAK-POINT) {
      display: none;
    }
  }

  &__divider {
    padding: 20px 0;

    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: rgba(149, 155, 173, 0.25);
    }
  }

  tr:last-child &__divider {
    display: none;
  }
}
