.sign-up-tariff {
  max-width: 500px;
  margin: auto;
  padding: 17px 20px 0;

  &__header {
    line-height: 70px;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 26px;
  }

  &__row {
    margin-bottom: 30px;
  }

  &__row-title {
    line-height: 20px;
    color: @GRAY-DARK;
  }

  @media (max-width: @BREAK-POINT) {
    padding-top: 50px;
  }
}
