.tariff-services {
  &__header {
    .h1;
  }
}

.tariff-service {
  color: #798199;
  border-bottom: 1px solid @GRAY-LIGHT;
  padding: 22px 0 29px;

  &_first {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &__control {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    .h2;
    margin-bottom: 10px;
  }

  &__name-inner:after {
    content: '';
    display: inline-block;
    width: 10px;
  }

  &__spinner {
    font-size: @FONT-SIZE-BASE;
    line-height: @LINE-HEIGHT-BASE;
    color: @GRAY;
    display: inline-block;
  }

  &__spinner:before {
    content: '';
    display: inline-block;
    background: url("/media/icons/spinner.svg") no-repeat 50% 50% / contain;
    width: 21px;
    height: 21px;
    transform-origin: 50% 50%;
    animation-duration: 0.5s;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-right: 5px;
  }

  &__desc {
    margin-bottom: 10px;
  }

  &__price {
    color: @ORANGE;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
