.cell {
  flex: 1 1 33.33%;
}

.tariff-table {
  margin: 0 -15px 46px;
  overflow: hidden;

  &_home {
    color: @WHITE;
  }

  &_sign-up {
    margin-top: 18px;
  }

  &__inner {
    padding: 5px 15px 20px;
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -20px;
  }

  &__inner_to &__row:nth-child(1) &__names {
    padding-bottom: 9px;
  }

  &__inner_to &__row:nth-child(2) {
    border-top: none;
  }

  &_services &__inner {
    max-width: calc(66.66vw);

    @media (max-width: 768px) {
      max-width: 100vw;
    }
  }

  &__row {
    padding: 6px 0;
    transition: padding 0.3s;
    position: relative;
    text-align: left;
    min-width: 570px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -15px;
      bottom: 0;
      left: -15px;

      @media (max-width: @BREAK-POINT) {
        display: none;
      }
    }

    &_detail {
      padding: 20px 0;
    }

    &_detail:not(:first-child) {
      border-top: 1px solid @GRAY-LIGHT;
    }

    &:hover:not(:first-child):not(&_home):before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  &_sign-up &__row {
    padding-left: 26px;
  }

  &__names {
    display: flex;

    &_tariff {
      padding-bottom: 15px;
    }
  }

  &__name {
    .cell;
    font-size: 26px;
    line-height: 30px;
    position: relative;

    &_home {
      color: @WHITE;
    }
  }

  &__actions {
    display: flex;
    padding: 10px 0 15px;
  }

  &__current {
    .gradient-tariff-current;
    max-width: 140px;
    display: inline-block;
  }

  &__action {
    .cell;
  }

  &__title {
    color: @GRAY-DARK;
    transition: max-height 0.3s linear;
    max-height: 0;
    overflow: hidden;
    position: relative;
    z-index: 2;

    &_show {
      max-height: 25px;
    }
  }

  &__cells {
    display: flex;
    z-index: 2;
    position: relative;
    max-height: 25px;
    transition: max-height 0.3s;
    overflow: hidden;

    &_cost-home {
      max-height: 46px;
    }

    &_hidden {
      max-height: 0;
    }
  }

  &__cell {
    .cell;
  }

  &__toggle {
    .link-dashed;
    margin-top: 30px;
    cursor: pointer;
    display: inline-block;
  }

  &__cost_home {
    font-size: 40px;
    line-height: 46px;
    font-weight: 100;
  }
}
