.legal {
  &__inner {
    padding: 40px 20px 100px;
    max-width: 1000px;
    margin: auto;
  }

  &__block {
    padding-top: 20px;
  }

  &__item {
    min-height: 34px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 26px 34px;
    padding-left: 40px;
    padding-top: 5px;
    margin-bottom: 16px;

    &_pdf {
      background-image: url("/media/icons/pdf.svg");
    }

    &_jpg {
      background-image: url("/media/icons/jpg.svg");
    }
  }
}
