.home {
  background:
            url("/media/images/colorful-wave.png") 50% -5% no-repeat,
            url("/media/images/blue-wave.png") 50% 105% no-repeat;
  background-size: 108% auto, 108% auto;
  background-color: #040e44;

  &__inner {
    padding: 0 15px 105px;
    max-width: 1000px;
    margin: auto;
  }
}
