.home {
  background:
            url("/media/images/colorful-wave.png") 50% -5% no-repeat,
            url("/media/images/blue-wave.png") 50% 105% no-repeat;
  background-size: 108% auto, 108% auto;
  background-color: #040e44;
  padding-top: 1px;

  &__inner {
    padding: 0 15px 105px;
    max-width: 1000px;
    margin: auto;
  }

  &__link {
    color: inherit;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3)) no-repeat 0 calc(50% + 0.43em);
    background-size: 100% 1px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:hover {
      background: linear-gradient(to right, @WHITE) no-repeat 0 calc(50% + 0.43em);
      background-size: 100% 1px;
    }
  }
}
