.sign-up {
  text-align: center;

  @media (max-width: @BREAK-POINT) {
    padding-top: 40px;
  }

  &__transition {
    font-size: 60px;
    line-height: 70px;
    font-weight: 100;
    text-align: center;
    margin: 17px 0 21px
  }

  &__header {
    margin: 24px 0 28px;
    color: @GRAY-DARK;
  }

  &__message {
    margin-top: -120px;
    position: relative;
    z-index: 1;

    &_step4 {
      margin-top: 0;
    }

    &_select-number {
      margin-top: 24px;
    }

    @media (max-width: 600px) {
      margin-top: calc(-20vw + 10px);

      &_step4 {
        margin-top: 0;
      }
    }
  }

  &__form {
    max-width: 380px;
    margin: auto;
  }

  &__agreement {
    color: @GRAY-DARK;
    margin-top: 12px;
  }

  &__note {
    .small;
    display: none;
    opacity: 0;
    max-width: 300px;
    margin: 16px auto 0;

    &_show {
      display: block;
      opacity: 1;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__scenario {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 24px 0 10px;
  }
}
